@import "../../style/variables.less";
@import "../../style/mixins/index.less";


.w-table{
  table{
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #e9e9e9;
    border-bottom: 0;
    border-right: 0;
    min-width: 100%;
    border-radius: 5px;
    overflow: hidden;
    td ,th{
      border-bottom: 1px solid #e3e8ee;
      border-right: 1px solid #e9e9e9;
    }
    th{
      height: 38px;
      color: #616161;
      font-weight: 400;
      background-color: #f7f7f7;
    }
    td{
      height: 38px;
      padding: 8px 6px;
      :hover{
        background-color: #333;
      }
    }
    tr:last-child{
      td:last-child{
        border-radius: 0 0 5px 0;
      }
      td:first-child{
        border-radius: 0 0 0 5px;
      }
    }
  }
}