@import "../../style/variables.less";
@import "../../style/mixins/index.less";


.w-table{
  table{
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid @table-border-color;
    border-bottom: 0;
    border-right: 0;
    min-width: 100%;
    border-radius: @border-radius-base;
    overflow: hidden;
    td ,th{
      border-bottom: 1px solid @table-border-color;
      border-right: 1px solid @table-border-color;
    }
    th{
      height: @table-tr-height;
      color: @table-th-color;
      font-weight: @table-font-weight;
      background-color: @table-th-bg-color;
    }
    td{
      height: @table-tr-height;
      padding: @padding-small-vertical @padding-small-horizontal;
    }
    tr{
      transition: background @transition-time @transition-timing-functio;
      &:hover{
        background-color: @table-tr-bg-active-color;
      }
    }
    tr:last-child{
      td:last-child{
        border-radius: 0 0 @border-radius-base 0;
      }
      td:first-child{
        border-radius: 0 0 0 @border-radius-base;
      }
    }
  }
}