dist
lib
coverage
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.lerna_backup

yarn.lock
.DS_Store
.cache
.vscode
.idea
.snap
.env

*.bak
*.tem
*.temp
#.swp
*.*~
~*.*

# IDEA
*.iml
*.ipr
*.iws