docs
build
coverage
test
script
src

yarn.lock
package-lock.json
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
.vscode
.cachetest
.travis.yml
.babelrc
.jest.js
.stylelintrc
.eslintrc
.editorconfig
.gitignore
*.swp
*.swo
*.log
*.log.*
*.json.gzip

