@font-face {font-family: "w-icons";
  src: url('../font/w-icons.eot'), /* IE9*/
  url('../font/w-icons.woff') format('woff'), /* chrome, firefox */
  url('../font/w-icons.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/w-icons.svg') format('svg'); /* iOS 4.1- */
}

[class^="w-icon-"], [class*=" w-icon-"] {
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    line-height: 1;
    height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:before,&:after {
      display: inline-block;
    }
    &:before {
      // display: block;
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'w-icons' !important;
    }
    &:after {
      vertical-align: middle;
      content: '';
      height: 100%;
      width: 0;
    }
}


.w-icon-arrow-down:before { content: "\e6ad"; }
.w-icon-arrow-up:before { content: "\e6ae"; }
.w-icon-caret-bottom:before { content: "\e6af"; }
.w-icon-arrow-left:before { content: "\e6b0"; }
.w-icon-caret-left:before { content: "\e6b1"; }
.w-icon-asterisk:before { content: "\e6b2"; }
.w-icon-arrow-right:before { content: "\e6b3"; }
.w-icon-caret-right:before { content: "\e6b4"; }
.w-icon-check:before { content: "\e6b5"; }
.w-icon-caret-top:before { content: "\e6b6"; }
.w-icon-circle-check-o:before { content: "\e6b7"; }
.w-icon-circle-check:before { content: "\e6b8"; }
.w-icon-circle-close-o:before { content: "\e6b9"; }
.w-icon-close:before { content: "\e6ba"; }
.w-icon-circle-close:before { content: "\e6bb"; }
.w-icon-d-arrow-left:before { content: "\e6bc"; }
.w-icon-copyright:before { content: "\e6bd"; }
.w-icon-d-arrow-right:before { content: "\e6be"; }
.w-icon-date:before { content: "\e6bf"; }
.w-icon-d-caret:before { content: "\e6c0"; }
.w-icon-delete:before { content: "\e6c1"; }
.w-icon-date1:before { content: "\e6c2"; }
.w-icon-document:before { content: "\e6c3"; }
.w-icon-download:before { content: "\e6c4"; }
.w-icon-cloud-download:before { content: "\e6c5"; }
.w-icon-frown-o:before { content: "\e6c6"; }
.w-icon-frown:before { content: "\e6c7"; }
.w-icon-heart-off:before { content: "\e6c8"; }
.w-icon-heart-on:before { content: "\e6c9"; }
.w-icon-information-o:before { content: "\e6ca"; }
.w-icon-information:before { content: "\e6cb"; }
.w-icon-menu:before { content: "\e6cc"; }
.w-icon-loading:before { content: "\e6cd"; }
.w-icon-edit:before { content: "\e6ce"; }
.w-icon-filter:before { content: "\e6cf"; }
.w-icon-lock:before { content: "\e6d0"; }
.w-icon-message-o:before { content: "\e6d1"; }
.w-icon-minus:before { content: "\e6d2"; }
.w-icon-more:before { content: "\e6d3"; }
.w-icon-message:before { content: "\e6d4"; }
.w-icon-picture:before { content: "\e6d5"; }
.w-icon-paper-clip:before { content: "\e6d6"; }
.w-icon-pay:before { content: "\e6d7"; }
.w-icon-plus:before { content: "\e6d8"; }
.w-icon-question-circle-o:before { content: "\e6d9"; }
.w-icon-question-circle:before { content: "\e6da"; }
.w-icon-search:before { content: "\e6db"; }
.w-icon-smile-o:before { content: "\e6dc"; }
.w-icon-share:before { content: "\e6dd"; }
.w-icon-setting:before { content: "\e6de"; }
.w-icon-smile:before { content: "\e6df"; }
.w-icon-setting-o:before { content: "\e6e0"; }
.w-icon-star-off:before { content: "\e6e1"; }
.w-icon-star-on:before { content: "\e6e2"; }
.w-icon-time:before { content: "\e6e3"; }
.w-icon-upload:before { content: "\e6e4"; }
.w-icon-cloud-upload:before { content: "\e6e5"; }
.w-icon-user:before { content: "\e6e6"; }
.w-icon-verification:before { content: "\e6e7"; }
.w-icon-unlock:before { content: "\e6e8"; }
.w-icon-view:before { content: "\e6e9"; }
.w-icon-warning:before { content: "\e6ea"; }
.w-icon-warning-o:before { content: "\e6eb"; }

.w-icon-loading {
  animation: rotating 1s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
