@font-face {font-family: "w-icons";
  src: url('../font/w-icons.eot'), /* IE9*/
  url('../font/w-icons.woff') format('woff'), /* chrome, firefox */
  url('../font/w-icons.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/w-icons.svg') format('svg'); /* iOS 4.1- */
}

[class^="w-icon-"], [class*=" w-icon-"] {
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    line-height: 1;
    height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:before,&:after {
      display: inline-block;
    }
    &:before {
      // display: block;
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'w-icons' !important;
    }
    &:after {
      vertical-align: middle;
      content: '';
      height: 100%;
      width: 0;
    }
}


.w-icon-arrow-up:before { content: "\e669"; }
.w-icon-arrow-left:before { content: "\e66a"; }
.w-icon-arrow-right:before { content: "\e66b"; }
.w-icon-arrow-down:before { content: "\e66c"; }
.w-icon-caret-bottom:before { content: "\e66d"; }
.w-icon-asterisk:before { content: "\e66e"; }
.w-icon-caret-left:before { content: "\e66f"; }
.w-icon-caret-top:before { content: "\e670"; }
.w-icon-caret-right:before { content: "\e671"; }
.w-icon-circle-check-o:before { content: "\e672"; }
.w-icon-check:before { content: "\e673"; }
.w-icon-circle-check:before { content: "\e674"; }
.w-icon-circle-close:before { content: "\e675"; }
.w-icon-copyright:before { content: "\e676"; }
.w-icon-close:before { content: "\e677"; }
.w-icon-circle-close-o:before { content: "\e678"; }
.w-icon-d-arrow-left:before { content: "\e679"; }
.w-icon-d-caret:before { content: "\e67a"; }
.w-icon-d-arrow-right:before { content: "\e67b"; }
.w-icon-date:before { content: "\e67c"; }
.w-icon-delete:before { content: "\e67d"; }
.w-icon-date1:before { content: "\e67e"; }
.w-icon-download:before { content: "\e67f"; }
.w-icon-download1:before { content: "\e680"; }
.w-icon-document:before { content: "\e681"; }
.w-icon-edit:before { content: "\e682"; }
.w-icon-frown-o:before { content: "\e683"; }
.w-icon-heart-off:before { content: "\e684"; }
.w-icon-frown:before { content: "\e685"; }
.w-icon-heart-on:before { content: "\e686"; }
.w-icon-filter:before { content: "\e687"; }
.w-icon-information:before { content: "\e688"; }
.w-icon-loading:before { content: "\e689"; }
.w-icon-information-o:before { content: "\e68a"; }
.w-icon-lock:before { content: "\e68b"; }
.w-icon-minus:before { content: "\e68c"; }
.w-icon-message-o:before { content: "\e68d"; }
.w-icon-message:before { content: "\e68e"; }
.w-icon-menu:before { content: "\e68f"; }
.w-icon-more:before { content: "\e690"; }
.w-icon-picture:before { content: "\e691"; }
.w-icon-pay:before { content: "\e692"; }
.w-icon-plus:before { content: "\e693"; }
.w-icon-paper-clip:before { content: "\e694"; }
.w-icon-question-circle-o:before { content: "\e695"; }
.w-icon-share:before { content: "\e696"; }
.w-icon-search:before { content: "\e697"; }
.w-icon-question-circle:before { content: "\e698"; }
.w-icon-setting:before { content: "\e699"; }
.w-icon-setting1:before { content: "\e69a"; }
.w-icon-smile-o:before { content: "\e69b"; }
.w-icon-star-on:before { content: "\e69c"; }
.w-icon-smile:before { content: "\e69d"; }
.w-icon-star-off:before { content: "\e69e"; }
.w-icon-time:before { content: "\e69f"; }
.w-icon-unlock:before { content: "\e6a0"; }
.w-icon-verification:before { content: "\e6a1"; }
.w-icon-view:before { content: "\e6a2"; }
.w-icon-upload:before { content: "\e6a3"; }
.w-icon-upload1:before { content: "\e6a4"; }
.w-icon-user:before { content: "\e6a5"; }
.w-icon-warning-o:before { content: "\e6a6"; }
.w-icon-warning:before { content: "\e6a7"; }

.w-icon-loading {
  animation: rotating 1s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
