@w-overlay-trigger:~"w-overlay-trigger";

.@{w-overlay-trigger} {
  z-index: 9999;
  position: absolute;
  top: initial;
  left: initial;
  right: initial;
  bottom: initial;
  width: auto;
  height: auto;
}