.w-btn-group > .w-btn {
  border-radius: 0;
  box-shadow: inset 1px 0 0 0 rgba(0, 0, 0, 0.17), inset -1px 0 0 0 rgba(0, 0, 0, 0.17), inset -1px 0px 0 0 rgba(0, 0, 0, 0.17);
}
.w-btn-group > .w-btn:last-child {
  border-radius: 0 3px 3px 0;
}
.w-btn-group > .w-btn:first-child {
  border-radius: 3px 0 0 3px;
}
.w-btn-group > .w-btn:first-child:last-child {
  border-radius: 3px !important;
}
.w-btn-group > .w-btn:focus {
  z-index: 2;
}
.w-btn-group .w-btn + .w-btn {
  margin-left: -1px !important;
}
.w-btn-group .w-btn:not(.w-btn-light):first-child {
  box-shadow: inset -1px 0px 0 0 rgba(0, 0, 0, 0.17) !important;
}
.w-btn-group .w-btn:not(.w-btn-light):last-child {
  box-shadow: inset 1px 0 0 0 rgba(0, 0, 0, 0.17), inset 0px 0 0 0 rgba(0, 0, 0, 0.17);
}
.w-btn-group .w-btn-light {
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.17), inset 1px -1px 0 0 rgba(0, 0, 0, 0.17), inset -1px 0px 0 0 rgba(0, 0, 0, 0.17) !important;
}
.w-btn-group-vertical .w-btn:not(.w-btn-light) {
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.17), inset 0 1px 0 0 rgba(0, 0, 0, 0.17) !important;
}
.w-btn-group-vertical .w-btn:not(.w-btn-light):first-child {
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.17), inset 0 0 0 0 rgba(0, 0, 0, 0.17) !important;
}
.w-btn-group-vertical .w-btn {
  width: 100%;
}
.w-btn-group-vertical .w-btn + .w-btn {
  margin-left: 0 !important;
  margin-top: -1px !important;
}
.w-btn-group-vertical .w-btn:last-child {
  border-radius: 0 0 3px 3px ;
}
.w-btn-group-vertical .w-btn:first-child {
  border-radius: 3px 3px 0 0;
}

.w-notify {
  position: relative !important;
  z-index: 9999;
}
.w-notify-warpper .w-notify .w-modal-inner .w-modal-header > .w-icon {
  font-size: 28px !important;
}
.w-notify-warpper .w-notify .w-modal-inner .w-modal-header > .w-btn {
  min-width: 18px;
  min-height: 18px;
  padding: 5px 5px;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-icon:not(.w-modal-shown-title) .w-modal-header > button {
  top: 12px;
  right: 10px;
  position: absolute;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-icon:not(.w-modal-shown-title) .w-modal-body {
  padding-right: 36px;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-title .w-modal-header {
  padding-top: 20px;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-title .w-modal-header > button {
  top: 5px;
  right: 5px;
  position: absolute;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-title .w-modal-header > h4 {
  padding-left: 40px;
  padding-right: 20px;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-title .w-modal-body {
  padding-left: 60px;
  opacity: 0.75;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-title:not(.w-modal-shown-icon) .w-modal-header > h4 {
  padding-left: 5px;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-title:not(.w-modal-shown-icon) .w-modal-body {
  padding-left: 25px;
}
.w-notify-warpper .w-notify .w-modal-inner:not(.w-modal-shown-title):not(.w-modal-shown-icon) .w-modal-body {
  padding: 16px;
}
.w-notify-warpper .w-notify .w-modal-inner:not(.w-modal-shown-title).w-modal-inner {
  padding-bottom: 0;
}
.w-notify-warpper .w-notify .w-modal-inner:not(.w-modal-shown-title).w-modal-inner .w-modal-header {
  padding-top: 16px;
}
.w-notify-warpper .w-notify .w-modal-inner:not(.w-modal-shown-title).w-modal-inner .w-modal-header > .w-icon {
  font-size: 20px !important;
}
.w-notify-warpper .w-notify .w-modal-inner:not(.w-modal-shown-title) .w-modal-body {
  padding: 16px 12px;
}
.w-notify-warpper .w-notify .w-overlay-content {
  margin: 5px;
}
.w-notify-warpper {
  position: fixed;
  padding: 5px;
  z-index: 999;
}
.w-notify-warpper.topLeft {
  top: 0;
  left: 0;
}
.w-notify-warpper.topRight {
  top: 0;
  right: 0;
}
.w-notify-warpper.bottomLeft {
  bottom: 0;
  left: 0;
}
.w-notify-warpper.bottomRight {
  bottom: 0;
  right: 0;
}

.w-form fieldset {
  margin: 0;
  padding: 0;
  border-width: 0;
}

.w-input {
  position: relative;
  font-size: 14px;
  line-height: 14px;
  width: 100%;
}
.w-input-inner {
  outline: none;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-sizing: border-box;
  background: #fff;
  height: 30px;
  padding: 0 10px;
  vertical-align: middle;
  line-height: 30px;
  color: #393E48;
  font-weight: 400;
  transition: box-shadow 0.3s cubic-bezier(0.4, 1, 0.75, 0.9);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.w-input-inner:not(:first-child) {
  padding-left: 26px;
}
.w-input-inner:focus {
  box-shadow: 0 0 0 1px #393E48, 0 0 0 3px rgba(57, 62, 72, 0.17), inset 0 1px 1px rgba(16, 22, 26, 0.2);
}
.w-input-inner:hover {
  box-shadow: 0 0 0 1px #6E6E6E, 0 0 0 3px rgba(57, 62, 72, 0), inset 0 1px 1px rgba(16, 22, 26, 0.2);
}
.w-input-inner:focus.w-input-inner:hover {
  box-shadow: 0 0 0 1px #6E6E6E, 0 0 0 3px rgba(57, 62, 72, 0.17), inset 0 1px 1px rgba(16, 22, 26, 0.2);
}
.w-input-inner:disabled {
  box-shadow: none;
  background: #DDDDDD;
  opacity: 0.75;
  color: #A5A5A5;
  cursor: not-allowed;
  resize: none;
}
.w-input .w-input-inner {
  width: 100%;
}
.w-input > .w-icon {
  position: absolute;
  margin: 0 7px 0 7px;
  transform: translateY(-50%);
  top: 50%;
}
.w-input-addon-after {
  position: absolute;
  top: 3px;
  right: 3px;
  display: flex;
  bottom: 3px;
}
.w-input-addon-after > * {
  display: flex !important;
  align-items: center;
}
.w-input-large {
  font-size: 16px;
}
.w-input-large .w-input-inner {
  line-height: 36px;
  height: 36px;
}
.w-input-small {
  min-width: 20px;
}
.w-input-small .w-input-inner {
  line-height: 24px;
  height: 24px;
}
.w-input-small .w-input-addon-after > * {
  line-height: 16px;
  min-height: 16px;
}

.w-form-item {
  margin-bottom: 10px;
}
.w-form-item-error .w-form-help,
.w-form-item-error .w-form-label {
  color: #dc3545;
}
.w-form-item-error .w-input-inner,
.w-form-item-error .w-input-inner:hover,
.w-form-item-error .w-input-inner:focus.w-input-inner:hover,
.w-form-item-error .w-textarea,
.w-form-item-error .w-textarea:hover,
.w-form-item-error .w-textarea:focus.w-textarea:hover {
  box-shadow: 0 0 0 1px #dc3545, 0 0 0 3px rgba(220, 53, 69, 0.17), inset 0 1px 1px rgba(16, 22, 26, 0.2);
}
.w-form-label {
  line-height: 32px;
  min-height: 32px;
  font-weight: 600;
  font-size: 14px;
  padding-right: 5px;
}
.w-form-label label {
  display: inline-block;
}
.w-form-row {
  align-items: center;
  display: flex;
}
.w-form-help {
  color: #C2C2C2;
  font-size: 12px;
  padding-top: 3px;
}

.w-row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}
.w-row.w-row-justify-flex-start {
  justify-content: flex-start;
}
.w-row.w-row-justify-flex-end {
  justify-content: flex-end;
}
.w-row.w-row-justify-center {
  justify-content: center;
}
.w-row.w-row-justify-space-between {
  justify-content: space-between;
}
.w-row.w-row-justify-space-around {
  justify-content: space-around;
}
.w-row.w-row-justify-space-evenly {
  justify-content: space-evenly;
}
.w-row-align-top {
  align-items: flex-start;
}
.w-row-align-middle {
  align-items: center;
}
.w-row-align-bottom {
  align-items: flex-end;
}
.w-row-align-baseline {
  align-items: baseline;
}

.w-col {
  min-width: 0;
  box-sizing: border-box;
  flex: 0 0 auto;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
.w-col-fixed {
  flex: 0 1 auto;
}
.w-col-align-top {
  align-self: flex-start;
}
.w-col-align-middle {
  align-self: center;
}
.w-col-align-bottom {
  align-self: flex-end;
}
.w-col-align-baseline {
  align-self: baseline;
}
.w-col-grow-1 {
  flex-grow: 1;
}
.w-col-grow-2 {
  flex-grow: 2;
}
.w-col-grow-3 {
  flex-grow: 3;
}
.w-col-grow-4 {
  flex-grow: 4;
}
.w-col-grow-5 {
  flex-grow: 5;
}
.w-col-grow-6 {
  flex-grow: 6;
}
.w-col-grow-7 {
  flex-grow: 7;
}
.w-col-grow-8 {
  flex-grow: 8;
}
.w-col-grow-9 {
  flex-grow: 9;
}
.w-col-grow-10 {
  flex-grow: 10;
}
.w-col-grow-11 {
  flex-grow: 11;
}
.w-col-1 {
  flex-basis: 4.16666667%;
  max-width: 4.16666667%;
}
.w-col-2 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}
.w-col-3 {
  flex-basis: 12.5%;
  max-width: 12.5%;
}
.w-col-4 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}
.w-col-5 {
  flex-basis: 20.83333333%;
  max-width: 20.83333333%;
}
.w-col-6 {
  flex-basis: 25%;
  max-width: 25%;
}
.w-col-7 {
  flex-basis: 29.16666667%;
  max-width: 29.16666667%;
}
.w-col-8 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}
.w-col-9 {
  flex-basis: 37.5%;
  max-width: 37.5%;
}
.w-col-10 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}
.w-col-11 {
  flex-basis: 45.83333333%;
  max-width: 45.83333333%;
}
.w-col-12 {
  flex-basis: 50%;
  max-width: 50%;
}
.w-col-13 {
  flex-basis: 54.16666667%;
  max-width: 54.16666667%;
}
.w-col-14 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}
.w-col-15 {
  flex-basis: 62.5%;
  max-width: 62.5%;
}
.w-col-16 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}
.w-col-17 {
  flex-basis: 70.83333333%;
  max-width: 70.83333333%;
}
.w-col-18 {
  flex-basis: 75%;
  max-width: 75%;
}
.w-col-19 {
  flex-basis: 79.16666667%;
  max-width: 79.16666667%;
}
.w-col-20 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}
.w-col-21 {
  flex-basis: 87.5%;
  max-width: 87.5%;
}
.w-col-22 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}
.w-col-23 {
  flex-basis: 95.83333333%;
  max-width: 95.83333333%;
}
.w-col-24 {
  flex-basis: 100%;
  max-width: 100%;
}

.w-checkbox {
  vertical-align: middle;
  font-size: 0;
}
.w-checkbox input[type=checkbox] {
  outline: none;
  width: 14px;
  height: 14px;
  font-size: 14px;
  line-height: 14px;
  border-radius: 2px;
  background-clip: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #d7d7d7;
  transition: background-color 0.3s;
}
.w-checkbox input[type=checkbox]:after {
  content: "";
  box-sizing: inherit;
}
.w-checkbox.disabled,
.w-checkbox.disabled input[type=checkbox] {
  cursor: not-allowed;
}
.w-checkbox.disabled input[type=checkbox] {
  opacity: 0.5;
}
.w-checkbox.disabled .w-checkbox-text {
  color: #6E6E6E;
}
.w-checkbox.indeterminate input[type=checkbox],
.w-checkbox.indeterminate input[type=checkbox]:checked {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #008ef0;
}
.w-checkbox.indeterminate input[type=checkbox]:after,
.w-checkbox.indeterminate input[type=checkbox]:checked:after {
  display: inline-block;
  background-color: #008df8;
  box-sizing: inherit;
  transform: rotate(0);
  position: relative;
  top: -1px;
  right: -3px;
  border-width: 0;
  border-radius: 2px;
  height: 8px;
  width: 8px;
}
.w-checkbox input[type=checkbox],
.w-checkbox-text {
  vertical-align: middle;
}
.w-checkbox input[type=checkbox]:checked {
  background-color: #008EF0;
}
.w-checkbox input[type=checkbox]:checked:after {
  transition: background-color 0.2s ease-in;
  display: inline-block;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(33deg);
  position: relative;
  top: -1px;
  right: -4px;
  height: 10px;
  width: 6px;
}
.w-checkbox-text {
  display: inline-block;
  margin-left: 4px;
  margin-right: 5px;
  font-size: 14px;
  line-height: 14px;
}


.w-switch {
  vertical-align: middle;
  font-size: 12px;
}
.w-switch input[type=checkbox] {
  white-space: nowrap;
  position: relative;
  min-width: 35px;
  height: 20px;
  background-clip: border-box;
  background-color: #dfdfdf;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  font-size: 12px;
  border-radius: 16px;
  transition: all 0.3s;
}
.w-switch input[type=checkbox]:before,
.w-switch input[type=checkbox]:after {
  display: inline-block;
  vertical-align: middle;
}
.w-switch input[type=checkbox]:before {
  content: attr(data-checked);
  transition: all 0.3s;
  padding: 0 21px 0 6px;
  color: #fff;
  margin-top: 1px;
}
.w-switch input[type=checkbox]:checked {
  background-color: #008EF0;
}
.w-switch input[type=checkbox]:checked:after {
  right: 2px;
  margin-right: 0;
}
.w-switch input[type=checkbox]:checked:before {
  content: attr(data-unchecked);
}
.w-switch input[type=checkbox]:not(:checked):before {
  padding: 0 6px 0 21px;
  color: #393E48;
}
.w-switch input[type=checkbox]:after {
  content: ' ';
  position: absolute;
  margin-right: -18px;
  right: 100%;
  margin-top: 2px;
  margin-left: 1px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  transition: all 0.2s;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 35, 11, 0.2);
}
.w-switch input[type=checkbox]:disabled,
.w-switch input[type=checkbox].disabled {
  cursor: not-allowed;
  opacity: 0.45;
}
.w-switch-large input[type=checkbox] {
  min-width: 38px;
  height: 24px;
}
.w-switch-large input[type=checkbox]::after {
  margin-right: -22px;
  height: 20px;
  width: 20px;
}
.w-switch-large input[type=checkbox]:before {
  padding: 0 25px 0 8px;
  margin-top: 0;
  font-size: 16px;
}
.w-switch-large input[type=checkbox]:not(:checked):before {
  padding: 0 8px 0 25px;
}
.w-switch-small {
  font-size: 12px;
}
.w-switch-small input[type=checkbox] {
  min-width: 15px;
  height: 16px;
}
.w-switch-small input[type=checkbox]::after {
  margin-right: -14px;
  height: 12px;
  width: 12px;
}
.w-switch-small input[type=checkbox]:before {
  padding: 0 16px 0 6px;
  margin-top: -2px;
}
.w-switch-small input[type=checkbox]:not(:checked):before {
  padding: 0 6px 0 16px;
}
.w-switch-text,
.w-switch input[type=checkbox] {
  vertical-align: middle;
}
.w-switch-text {
  display: inline-block;
  margin-left: 5px;
}

.w-radio-group {
  font-size: 0;
}

.w-radio {
  vertical-align: middle;
  display: inline-block;
  font-size: 12px;
}
.w-radio input[type=radio] {
  outline: none;
  position: relative;
  width: 16px;
  height: 16px;
  background-clip: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: -0.15px 0.6px 0 0;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  transition: border 0.25s, box-shadow 0.25s;
}
.w-radio input[type=radio],
.w-radio-text {
  vertical-align: middle;
}
.w-radio input[type=radio]:checked {
  border: 5px solid #008EF0;
}
.w-radio input[type=radio]:checked:focus {
  box-shadow: 0 0 0 2px rgba(0, 142, 240, 0.25);
}
.w-radio.disabled {
  color: #c7c7c7;
  cursor: not-allowed;
}
.w-radio.disabled input[type=radio] {
  cursor: not-allowed;
}
.w-radio.disabled:not(.checked) input[type=radio] {
  background-color: #efefef;
}
.w-radio-text {
  display: inline-block;
  margin-left: 4px;
  margin-right: 5px;
  font-size: 14px;
}

.w-textarea {
  position: relative;
  font-size: 14px;
  outline: none;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2);
  background: #fff;
  padding: 5px 10px;
  vertical-align: middle;
  height: auto;
  min-height: 30px;
  color: #393E48;
  font-weight: 400;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  transition: box-shadow 0.1s cubic-bezier(0.4, 1, 0.75, 0.9);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.w-textarea:not(:first-child) {
  padding-left: 30px;
}
.w-textarea:focus {
  box-shadow: 0 0 0 1px #393E48, 0 0 0 3px rgba(57, 62, 72, 0.17), inset 0 1px 1px rgba(16, 22, 26, 0.2);
}
.w-textarea:hover {
  box-shadow: 0 0 0 1px #6E6E6E, 0 0 0 3px rgba(57, 62, 72, 0), inset 0 1px 1px rgba(16, 22, 26, 0.2);
}
.w-textarea:focus.w-textarea:hover {
  box-shadow: 0 0 0 1px #6E6E6E, 0 0 0 3px rgba(57, 62, 72, 0.17), inset 0 1px 1px rgba(16, 22, 26, 0.2);
}
.w-textarea:disabled {
  box-shadow: none;
  background: #DDDDDD;
  opacity: 0.75;
  color: #A5A5A5;
  cursor: not-allowed;
  resize: none;
}

