.w-divider {
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #e8e8e8;
}
.w-divider,
.w-divider .w-divider-vertical {
  margin: 0 8px;
  display: inline-block;
  height: 0.9em;
  width: 1px;
  vertical-align: middle;
  position: relative;
  top: -0.06em;
}
.w-divider-horizontal {
  display: block;
  height: 1px;
  width: 100%;
  margin: 18px 0;
}
.w-divider-horizontal.w-divider-with-text {
  display: table;
  white-space: nowrap;
  text-align: center;
  background: transparent;
  font-weight: 500;
  color: #52575c;
  font-size: 16px;
  margin: 16px 0;
}
.w-divider-horizontal.w-divider-with-text:before,
.w-divider-horizontal.w-divider-with-text:after {
  content: '';
  display: table-cell;
  position: relative;
  top: 50%;
  width: 50%;
  border-top: 1px solid #e8e8e8;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
.w-divider-inner-text {
  display: inline-block;
  padding: 0 24px;
}
.w-divider-dashed {
  background: none;
  border-top: 1px dashed #e8e8e8;
}

