.w-table > table {
  display: table !important;
  margin: 0 !important;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.w-table > table tr > th,
.w-table > table tr > td {
  border: 0;
  padding: 5px 8px;
  border-bottom: 1px solid #e8e8e8;
}
.w-table > table tr {
  background-color: transparent;
}
.w-table > table > caption {
  text-align: left;
  padding: 10px 8px;
}
.w-table > table > tbody > tr {
  transition: all 0.3s;
}
.w-table > table > tbody > tr:hover,
.w-table > table > tbody > tr:hover:nth-child(2n) {
  background-color: #efefef;
}
.w-table > table > tbody > tr:nth-child(2n) {
  background-color: #f9f9f9;
}
.w-table > table > thead > tr > th {
  font-weight: normal;
  padding: 8px;
}
.w-table > table > thead > tr,
.w-table > table > thead tr:nth-child(2n) {
  background-color: #f6f9fb;
  border: transparent;
}
.w-table-bordered > table tr > th,
.w-table-bordered > table tr > td,
.w-table-bordered > table > caption {
  border: 1px solid #dfe2e5;
}
.w-table-bordered > table > caption {
  border-bottom: 0;
}
.w-table-bordered .w-table-footer {
  border: 1px solid #dfe2e5;
  border-top: 0;
}
.w-table-footer {
  background: #fafafa;
  padding: 10px 8px;
}

.w-notify {
  position: relative;
  z-index: 9999;
}
.w-notify-warpper .w-notify .w-modal-inner .w-modal-header > .w-icon {
  font-size: 28px !important;
}
.w-notify-warpper .w-notify .w-modal-inner .w-modal-header > .w-btn {
  min-width: 18px;
  min-height: 18px;
  padding: 5px 5px;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-icon:not(.w-modal-shown-title) .w-modal-header > button {
  top: 12px;
  right: 10px;
  position: absolute;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-icon:not(.w-modal-shown-title) .w-modal-body {
  padding-right: 36px;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-title .w-modal-header {
  padding-top: 20px;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-title .w-modal-header > button {
  top: 5px;
  right: 5px;
  position: absolute;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-title .w-modal-header > h4 {
  padding-left: 40px;
  padding-right: 20px;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-title .w-modal-body {
  padding-left: 60px;
  opacity: 0.75;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-title:not(.w-modal-shown-icon) .w-modal-header > h4 {
  padding-left: 5px;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-title:not(.w-modal-shown-icon) .w-modal-body {
  padding-left: 25px;
}
.w-notify-warpper .w-notify .w-modal-inner:not(.w-modal-shown-title):not(.w-modal-shown-icon) .w-modal-body {
  padding: 16px;
}
.w-notify-warpper .w-notify .w-modal-inner:not(.w-modal-shown-title).w-modal-inner {
  padding-bottom: 0;
}
.w-notify-warpper .w-notify .w-modal-inner:not(.w-modal-shown-title).w-modal-inner .w-modal-header {
  padding-top: 16px;
}
.w-notify-warpper .w-notify .w-modal-inner:not(.w-modal-shown-title).w-modal-inner .w-modal-header > .w-icon {
  font-size: 20px !important;
}
.w-notify-warpper .w-notify .w-modal-inner:not(.w-modal-shown-title) .w-modal-body {
  padding: 16px 12px;
}
.w-notify-warpper .w-notify .w-overlay-content {
  margin: 5px;
}
.w-notify-warpper {
  position: fixed;
  padding: 5px;
  z-index: 999;
}
.w-notify-warpper.topLeft {
  top: 0;
  left: 0;
}
.w-notify-warpper.topRight {
  top: 0;
  right: 0;
}
.w-notify-warpper.bottomLeft {
  bottom: 0;
  left: 0;
}
.w-notify-warpper.bottomRight {
  bottom: 0;
  right: 0;
}

