.w-alert .w-modal-header,
.w-alert .w-modal-body {
  display: table-cell;
}
.w-alert .w-modal-header {
  padding: 20px 0 0 20px;
  box-shadow: 0 0 0 0;
  padding-right: 0;
}
.w-alert .w-modal-header .w-icon {
  display: table-cell;
  font-size: 40px;
}
.w-alert .w-modal-body {
  padding-right: 20px;
  padding-left: 20px;
  vertical-align: top;
}
.w-alert.primary .w-modal-header .w-icon {
  color: #008EF0;
}
.w-alert.success .w-modal-header .w-icon {
  color: #28a745;
}
.w-alert.warning .w-modal-header .w-icon {
  color: #ffc107;
}
.w-alert.danger .w-modal-header .w-icon {
  color: #dc3545;
}

