.w-icon,
.w-icon svg {
  height: 1em;
  width: 1em;
}
.w-icon {
  display: inline-flex;
  align-self: center;
  position: relative;
}
.w-icon-baseline {
  top: 0.125em;
}
.w-icon-spin svg {
  -webkit-animation: loading-circle 1s infinite linear;
          animation: loading-circle 1s infinite linear;
}
@-webkit-keyframes loading-circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loading-circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

