.w-rate {
  position: relative;
  line-height: 12px;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  color: #e9e9e9;
}
.w-rate > span + span {
  margin-left: 3px;
}
.w-rate > span,
.w-rate-bg {
  position: relative;
  display: inline-block;
}
.w-rate-hight {
  line-height: 12px;
  position: absolute;
  transition: color 0.3s, width 0.3s;
}
.w-rate .hover-on {
  cursor: pointer;
}
.w-rate .star-on,
.w-rate .hover-on {
  color: #f5a623;
}
.half-on:not(.hover-on) .w-rate-hight {
  width: 50%;
  z-index: 3;
  overflow: hidden;
}
.half-on:not(.hover-on) .w-rate-bg {
  color: #e9e9e9;
}

.w-icon,
.w-icon svg {
  height: 1em;
  width: 1em;
}
.w-icon {
  display: inline-flex;
  align-self: center;
  position: relative;
  transition: color 0.3s;
  box-sizing: inherit;
}
.w-icon-baseline {
  top: 0.125em;
}
.w-icon-spin svg {
  -webkit-animation: loading-circle 1s infinite linear;
          animation: loading-circle 1s infinite linear;
}
@-webkit-keyframes loading-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

