.w-descriptions {
  display: table !important;
  margin-bottom: 0 !important;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
.w-descriptions-title {
  font-weight: bold;
  text-align: left;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 1.5;
}
.w-descriptions .w-descriptions-row {
  border-width: 0;
}
.w-descriptions .w-descriptions-row td {
  padding: 0 0;
  padding-bottom: 8px;
  border-width: 0;
}
.w-descriptions .w-descriptions-row:nth-child(2n) {
  background-color: transparent;
}
.w-descriptions .w-descriptions-row:last-child td {
  padding-bottom: 0;
}
.w-descriptions-item-label {
  white-space: nowrap;
}
.w-descriptions-item-label::after {
  position: relative;
  top: -0.5px;
  margin: 0 8px 0 2px;
  content: ' ';
}
.w-descriptions-item-colon::after {
  content: ':';
}
.w-descriptions-item-colon {
  color: rgba(0, 0, 0, 0.95);
}
.w-descriptions-item-content {
  color: rgba(0, 0, 0, 0.65);
}
.w-descriptions-bordered tbody tr th {
  padding: 8px 12px;
  border: 1px solid #dfe2e5;
  background-color: #fafafa;
  font-weight: normal;
}
.w-descriptions-bordered .w-descriptions-row td {
  border: 1px solid #dfe2e5;
  padding: 8px 12px;
}
.w-descriptions-bordered .w-descriptions-row td:last-child {
  padding-bottom: 6px;
}
.w-descriptions-small.w-descriptions-bordered tbody tr th,
.w-descriptions-small.w-descriptions-bordered tbody .w-descriptions-row td {
  padding: 4px 8px;
}
.w-descriptions-large.w-descriptions-bordered tbody tr th,
.w-descriptions-large.w-descriptions-bordered tbody .w-descriptions-row td {
  padding: 14px 16px;
}

.w-badge {
  position: relative;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}
sup.w-badge-count {
  position: absolute;
  transform: translateX(-50%);
  top: -10px;
  height: 16px;
  border-radius: 10px;
  min-width: 16px;
  background: #f04134;
  color: #fff;
  line-height: 16px;
  text-align: center;
  padding: 0 5px;
  font-size: 12px;
  white-space: nowrap;
  transform-origin: -10% center;
  font-family: tahoma;
  box-shadow: 0 0 0 1px #fff;
}
.w-badge.nowrap sup.w-badge-count {
  top: auto;
  display: block;
  position: relative;
  transform: none !important;
  overflow: hidden;
}
.w-badge sup.dot {
  position: absolute;
  transform: translateX(-50%);
  transform-origin: 0 center;
  overflow: hidden;
  color: transparent;
  top: -4px;
  height: 6px;
  width: 6px;
  padding: 0;
  border-radius: 100%;
  background: #f04134;
  z-index: 10;
  box-shadow: 0 0 0 1px #fff;
}
.w-badge-dot {
  line-height: inherit;
  vertical-align: baseline;
  font-size: 14px;
  margin: 0 4px;
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.w-badge-processing .w-badge-dot {
  position: relative;
  background-color: #007bff;
}
.w-badge-processing .w-badge-dot:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: inherit;
  content: '';
  -webkit-animation: wStatusProcessing 1.2s infinite ease-in-out;
          animation: wStatusProcessing 1.2s infinite ease-in-out;
}
@-webkit-keyframes wStatusProcessing {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.8);
    opacity: 0;
  }
}
@keyframes wStatusProcessing {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.8);
    opacity: 0;
  }
}

.w-radio {
  vertical-align: middle;
  display: inline-block;
  font-size: 12px;
}
.w-radio input[type=radio] {
  outline: none;
  position: relative;
  width: 16px;
  height: 16px;
  background-clip: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: -0.15px 0.6px 0 0;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  transition: border 0.25s, box-shadow 0.25s;
}
.w-radio input[type=radio]:not(:checked):not(:disabled):not(.disabled):hover,
.w-radio input[type=radio]:not(:checked):not(:disabled):not(.disabled):focus {
  box-shadow: 0 0 0 2px rgba(0, 142, 240, 0.25);
}
.w-radio input[type=radio],
.w-radio-text {
  vertical-align: middle;
}
.w-radio input[type=radio]:checked {
  border: 5px solid #008EF0;
}
.w-radio input[type=radio]:checked:focus {
  box-shadow: 0 0 0 2px rgba(0, 142, 240, 0.25);
}
.w-radio.disabled {
  color: #c7c7c7;
  cursor: not-allowed;
}
.w-radio.disabled input[type=radio] {
  cursor: not-allowed;
}
.w-radio.disabled:not(.checked) input[type=radio] {
  background-color: #efefef;
}
.w-radio-text {
  display: inline-block;
  margin-left: 4px;
  margin-right: 5px;
  font-size: 14px;
}

.w-radio-group {
  font-size: 0;
}

