.w-fileinput input {
  padding: 5px;
}

.w-input {
  position: relative;
  font-size: 14px;
  line-height: 14px;
  width: 100%;
}
.w-input-inner {
  outline: none;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-sizing: border-box;
  background: #fff;
  height: 30px;
  padding: 0 10px;
  vertical-align: middle;
  line-height: 30px;
  color: #393E48;
  font-weight: 400;
  transition: box-shadow 0.3s cubic-bezier(0.4, 1, 0.75, 0.9);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.w-input-inner:not(:first-child) {
  padding-left: 26px;
}
.w-input-inner:focus {
  box-shadow: 0 0 0 1px #393E48, 0 0 0 3px rgba(57, 62, 72, 0.17), inset 0 1px 1px rgba(16, 22, 26, 0.2);
}
.w-input-inner:hover {
  box-shadow: 0 0 0 1px #6E6E6E, 0 0 0 3px rgba(57, 62, 72, 0), inset 0 1px 1px rgba(16, 22, 26, 0.2);
}
.w-input-inner:focus.w-input-inner:hover {
  box-shadow: 0 0 0 1px #6E6E6E, 0 0 0 3px rgba(57, 62, 72, 0.17), inset 0 1px 1px rgba(16, 22, 26, 0.2);
}
.w-input-inner:disabled {
  box-shadow: none;
  background: #DDDDDD;
  opacity: 0.75;
  color: #A5A5A5;
  cursor: not-allowed;
  resize: none;
}
.w-input .w-input-inner {
  width: 100%;
}
.w-input > .w-icon {
  position: absolute;
  margin: 0 7px 0 7px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}
.w-input-addon-after {
  position: absolute;
  top: 3px;
  right: 3px;
  display: flex;
  bottom: 3px;
}
.w-input-addon-after > * {
  display: flex !important;
  align-items: center;
}
.w-input-large {
  font-size: 16px;
}
.w-input-large .w-input-inner {
  line-height: 36px;
  height: 36px;
}
.w-input-small {
  min-width: 20px;
}
.w-input-small .w-input-inner {
  line-height: 24px;
  height: 24px;
}
.w-input-small .w-input-addon-after > * {
  line-height: 16px;
  min-height: 16px;
}

.w-icon,
.w-icon svg {
  height: 1em;
  width: 1em;
}
.w-icon {
  display: inline-flex;
  align-self: center;
  position: relative;
}
.w-icon-baseline {
  top: 0.125em;
}
.w-icon-spin svg {
  -webkit-animation: loading-circle 1s infinite linear;
          animation: loading-circle 1s infinite linear;
}
@-webkit-keyframes loading-circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loading-circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

