.w-breadcrumb {
  display: inline-flex;
}

.w-breadcrumb-item {
  display: inline-flex;
}
.w-breadcrumb-item + .w-breadcrumb-item::before,
.w-breadcrumb-item + .w-breadcrumb-item .w-breadcrumb-separator {
  padding-right: 8px;
  padding-left: 8px;
  color: #6E6E6E;
}
.w-breadcrumb-item + .w-breadcrumb-item::before {
  display: inline-block;
  content: attr(data-separator);
}
.w-breadcrumb-item + .w-breadcrumb-item.no-before:before {
  display: none;
}
.w-breadcrumb-item + .w-breadcrumb-item.no-separator {
  margin-left: 6px;
}
.w-breadcrumb-item + .w-breadcrumb-item.no-separator:before {
  display: none;
}
.w-breadcrumb-item.active {
  color: #6E6E6E;
}

.w-icon,
.w-icon svg {
  height: 1em;
  width: 1em;
}
.w-icon {
  display: inline-flex;
  align-self: center;
  position: relative;
  transition: color 0.3s;
}
.w-icon-baseline {
  top: 0.125em;
}
.w-icon-spin svg {
  -webkit-animation: loading-circle 1s infinite linear;
          animation: loading-circle 1s infinite linear;
}
@-webkit-keyframes loading-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

