.w-dateinput {
  display: inline-block;
}
.w-dateinput-popover {
  box-shadow: 0 0 0 0;
}
.w-dateinput.disabled .w-dateinput-close-btn {
  display: none;
}
.w-dateinput-close-btn {
  display: flex;
  margin: 0 3px;
  color: #A5A5A5;
  cursor: pointer;
}
.w-dateinput-close-btn:hover {
  color: #393E48;
}

.w-popover {
  position: relative;
  display: inline-block;
  outline: 0;
}
.w-popover-arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  border-color: transparent;
  z-index: 21;
}
.w-popover-inner {
  font-size: 12px;
  display: block;
  text-align: left;
  text-decoration: none;
  background-color: #fff;
  border-radius: 4px;
  min-height: 23px;
  box-shadow: rgba(16, 22, 26, 0.1) 0px 0px 0px 1px, rgba(16, 22, 26, 0.2) 0px 2px 4px, rgba(16, 22, 26, 0.2) 0px 8px 24px;
}
.w-popover.right .w-popover-arrow,
.w-popover.rightTop .w-popover-arrow,
.w-popover.rightBottom .w-popover-arrow {
  left: 2px;
  margin-top: -15px;
  top: 50%;
}
.w-popover.left .w-popover-arrow,
.w-popover.leftTop .w-popover-arrow,
.w-popover.leftBottom .w-popover-arrow {
  transform: rotate(180deg);
  margin-top: -15px;
  right: 2px;
  top: 50%;
}
.w-popover.leftTop .w-popover-arrow,
.w-popover.rightTop .w-popover-arrow {
  top: 15px;
}
.w-popover.leftBottom .w-popover-arrow,
.w-popover.rightBottom .w-popover-arrow {
  bottom: 0;
  top: auto;
}
.w-popover.top .w-popover-arrow,
.w-popover.topLeft .w-popover-arrow,
.w-popover.topRight .w-popover-arrow {
  transform: rotate(-90deg);
  bottom: 2px;
  left: 50%;
  margin-left: -15px;
}
.w-popover.bottom .w-popover-arrow,
.w-popover.bottomLeft .w-popover-arrow,
.w-popover.bottomRight .w-popover-arrow {
  transform: rotate(90deg);
  left: 50%;
  margin-left: -15px;
  top: 2px;
}
.w-popover.bottomLeft .w-popover-arrow,
.w-popover.topLeft .w-popover-arrow {
  left: 15px;
}
.w-popover.bottomRight .w-popover-arrow,
.w-popover.topRight .w-popover-arrow {
  right: 0;
  left: auto;
}
.w-popover.top,
.w-popover.topLeft,
.w-popover.topRight {
  padding-bottom: 13px;
}
.w-popover.bottom,
.w-popover.bottomLeft,
.w-popover.bottomRight {
  padding-top: 13px;
}
.w-popover.right,
.w-popover.rightTop,
.w-popover.rightBottom {
  padding-left: 13px;
}
.w-popover.left,
.w-popover.leftTop,
.w-popover.leftBottom {
  padding-right: 13px;
}
.w-popover.no-arrow {
  padding: 0 !important;
}

.w-datepicker {
  vertical-align: top;
  display: inline-block;
  position: relative;
  border-radius: 3px;
  background: #fff;
  color: #393E48;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 14px;
  line-height: 21px;
  padding: 5px;
  min-width: 192px;
  max-width: 192px;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0), 0 1px 1px rgba(16, 22, 26, 0.2);
}
.w-datepicker-timepicker {
  padding-bottom: 2px;
  border: 1px solid #e9e9e9;
  border-top: 0;
  border-radius: 0 0 4px 4px !important;
}
.w-datepicker-time-btn {
  cursor: pointer;
  margin-top: 2px;
  transition: background-color 0.3s;
  display: inline-block;
  border-radius: 3px;
  padding: 1px 5px;
}
.w-datepicker-time-btn:hover {
  background-color: #EAEAEA;
}
.w-datepicker-time-btn:active {
  background-color: #d2d2d2;
}

.w-datepicker-caption {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  padding: 0 0 3px 0;
  border-bottom: 1px solid #ececec;
}
.w-datepicker-caption-pane {
  transition: background-color 0.3s;
  display: inline-block;
  border-radius: 3px;
  padding: 1px 5px;
  font-weight: bold;
  cursor: pointer;
}
.w-datepicker-caption-pane:hover {
  background-color: #EAEAEA;
}
.w-datepicker-caption-pane:active {
  background-color: #d2d2d2;
}
.w-datepicker-caption-pane.year + .w-datepicker-caption-pane.month {
  margin-left: 5px;
}
.w-datepicker-caption-pane.prev,
.w-datepicker-caption-pane.next {
  z-index: 30;
  position: relative;
  padding: 1px 8px 6px 8px;
}
.w-datepicker-caption-pane.prev::after,
.w-datepicker-caption-pane.next::after,
.w-datepicker-caption-pane.prev::before,
.w-datepicker-caption-pane.next::before {
  content: '';
  display: block;
  height: 8px;
  width: 2px;
  border-radius: 2px;
  background-color: #333;
}
.w-datepicker-caption-pane.prev::after,
.w-datepicker-caption-pane.next::after {
  margin-top: -4px;
}
.w-datepicker-caption-pane.prev::before,
.w-datepicker-caption-pane.next::before {
  margin-top: 4px;
}
.w-datepicker-caption-pane.prev::after,
.w-datepicker-caption-pane.next::before {
  transform: rotate(-45deg);
}
.w-datepicker-caption-pane.prev::before,
.w-datepicker-caption-pane.next::after {
  transform: rotate(45deg);
}
.w-datepicker-caption-pane.prev {
  float: left;
}
.w-datepicker-caption-pane.next {
  float: right;
}
.w-datepicker-caption-today {
  cursor: pointer;
  background: #dedede;
  border-radius: 3px;
  display: inline-block;
  height: 10px;
  width: 10px;
  overflow: hidden;
  margin: 0 0 0 2px;
  transition: background-color 0.3s;
}
.w-datepicker-caption-today::before {
  content: '';
  display: block;
  height: 4px;
  width: 4px;
  border-radius: 3px;
  margin: 3px 0 0 3px;
  background-color: #a0a0a0;
}
.w-datepicker-caption-today:hover {
  background-color: #2EA3F4;
}
.w-datepicker-caption-today:hover::before {
  background-color: #fff;
}
.w-datepicker-caption-today:active {
  background-color: #007cd2;
}
.w-datepicker-caption-today:active::before {
  background-color: #fff;
}

.w-datepicker-weekday,
.w-datepicker-week {
  display: flex;
  width: 100%;
}
.w-datepicker-weekday > div,
.w-datepicker-week > div {
  display: table-cell;
  flex: 1 1;
  min-width: 26px;
  min-height: 26px;
  vertical-align: middle;
  text-align: center;
}
.w-datepicker-weekday > div {
  font-weight: bold;
}
.w-datepicker-weekday > div.end,
.w-datepicker-week > div.end {
  color: #6f6f6f;
}
.w-datepicker-week > div {
  border-radius: 3px;
  cursor: pointer;
}
.w-datepicker-week > div.prev,
.w-datepicker-week > div.next {
  color: #d3d3d3;
}
.w-datepicker-week > div > div {
  transition: background-color 0.3s, color 0.3s;
  margin: 0 2px;
  border-radius: 3px;
  line-height: 22px;
}
.w-datepicker-week > div.today > div {
  background-color: #EAEAEA;
}
.w-datepicker-week > div.selected > div,
.w-datepicker-week > div.selected:hover > div {
  color: #fff;
  background-color: #2EA3F4;
}
.w-datepicker-week > div:hover > div {
  background-color: #EAEAEA;
  color: #393E48;
}
.w-datepicker-week > div:active > div {
  background-color: #d2d2d2;
}
.w-datepicker-week > div.disabled > div,
.w-datepicker-week > div.disabled:hover > div {
  color: #d3d3d3;
  cursor: not-allowed;
  background-color: #f5f5f5;
}
.w-datepicker-week > div.disabled.today > div,
.w-datepicker-week > div.disabled:hover.today > div {
  background-color: rgba(189, 189, 189, 0.47);
  color: #fff;
}
.w-datepicker-week > div.disabled.selected > div,
.w-datepicker-week > div.disabled:hover.selected > div {
  background-color: rgba(46, 163, 244, 0.47);
  color: #fff;
}
.w-datepicker-body {
  padding-top: 5px;
}

.w-datepicker-month,
.w-datepicker-year {
  text-align: center;
  max-width: 100%;
  padding: 7px 0 5px 0;
}
.w-datepicker-month > div,
.w-datepicker-year > div {
  display: inline-block;
  width: 50%;
  line-height: 22px;
  margin: 3px 0;
}
.w-datepicker-month > div > span,
.w-datepicker-year > div > span {
  display: inline-block;
  padding: 1px 6px;
  border-radius: 3px;
  cursor: pointer;
}
.w-datepicker-month > div.selected > span,
.w-datepicker-year > div.selected > span {
  color: #fff;
  background-color: #2EA3F4;
}
.w-datepicker-month > div > span:hover,
.w-datepicker-year > div > span:hover {
  background-color: #dcf0fd;
  color: #2EA3F4;
}
.w-datepicker-month > div.paging,
.w-datepicker-year > div.paging {
  color: rgba(0, 0, 0, 0.25);
}
.w-datepicker-year > div {
  width: 33.333%;
}

.w-timepicker {
  display: flex;
}
.w-timepicker::after {
  content: '';
  display: block;
  clear: both;
}
.w-timepicker-spinner {
  max-height: 189px;
  flex: 1 1;
  overflow: hidden;
  font-size: 14px;
}
.w-timepicker-spinner:hover {
  overflow: auto;
}
.w-timepicker-spinner > ul {
  list-style: none;
  min-width: 56px;
  margin: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 162px !important;
}
.w-timepicker-spinner > ul > li + li {
  margin-top: 0 !important;
}
.w-timepicker-spinner > ul > li {
  cursor: pointer;
  text-align: center;
  padding: 5px 0;
  transition: all 0.3s;
  color: #393E48;
}
.w-timepicker-spinner > ul > li:hover:not(.disabled) {
  background-color: #f6f8fa;
}
.w-timepicker-spinner > ul > li:active:not(.disabled) {
  background-color: #e1e5e8;
}
.w-timepicker-spinner > ul > li.selected {
  background-color: #f1f1f1;
  font-weight: bold;
  color: #000;
}
.w-timepicker-spinner > ul > li.disabled {
  color: #d4d4d4;
  cursor: not-allowed;
}
.w-timepicker-spinner > ul > li.disabled.hide {
  display: none;
}
.w-timepicker-spinner + .w-timepicker-spinner ul {
  border-left: 1px solid #e9e9e9;
}

.w-input {
  position: relative;
  font-size: 14px;
  line-height: 14px;
  width: 100%;
}
.w-input-inner {
  outline: none;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-sizing: border-box;
  background: #fff;
  height: 30px;
  padding: 0 10px;
  vertical-align: middle;
  line-height: 30px;
  color: #393E48;
  font-weight: 400;
  transition: box-shadow 0.3s cubic-bezier(0.4, 1, 0.75, 0.9);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.w-input-inner:not(:first-child) {
  padding-left: 26px;
}
.w-input-inner:focus {
  box-shadow: 0 0 0 1px #393E48, 0 0 0 3px rgba(57, 62, 72, 0.17), inset 0 1px 1px rgba(16, 22, 26, 0.2);
}
.w-input-inner:hover {
  box-shadow: 0 0 0 1px #6E6E6E, 0 0 0 3px rgba(57, 62, 72, 0), inset 0 1px 1px rgba(16, 22, 26, 0.2);
}
.w-input-inner:focus.w-input-inner:hover {
  box-shadow: 0 0 0 1px #6E6E6E, 0 0 0 3px rgba(57, 62, 72, 0.17), inset 0 1px 1px rgba(16, 22, 26, 0.2);
}
.w-input-inner:disabled {
  box-shadow: none;
  background: #DDDDDD;
  opacity: 0.75;
  color: #A5A5A5;
  cursor: not-allowed;
  resize: none;
}
.w-input .w-input-inner {
  width: 100%;
}
.w-input > .w-icon {
  position: absolute;
  margin: 0 7px 0 7px;
  transform: translateY(-50%);
  top: 50%;
}
.w-input-addon-after {
  position: absolute;
  top: 3px;
  right: 3px;
  display: flex;
  bottom: 3px;
}
.w-input-addon-after > * {
  display: flex !important;
  align-items: center;
}
.w-input-large {
  font-size: 16px;
}
.w-input-large .w-input-inner {
  line-height: 36px;
  height: 36px;
}
.w-input-small {
  min-width: 20px;
}
.w-input-small .w-input-inner {
  line-height: 24px;
  height: 24px;
}
.w-input-small .w-input-addon-after > * {
  line-height: 16px;
  min-height: 16px;
}

.w-notify {
  position: relative !important;
  z-index: 9999;
}
.w-notify-warpper .w-notify .w-modal-inner .w-modal-header > .w-icon {
  font-size: 28px !important;
}
.w-notify-warpper .w-notify .w-modal-inner .w-modal-header > .w-btn {
  min-width: 18px;
  min-height: 18px;
  padding: 5px 5px;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-icon:not(.w-modal-shown-title) .w-modal-header > button {
  top: 12px;
  right: 10px;
  position: absolute;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-icon:not(.w-modal-shown-title) .w-modal-body {
  padding-right: 36px;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-title .w-modal-header {
  padding-top: 20px;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-title .w-modal-header > button {
  top: 5px;
  right: 5px;
  position: absolute;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-title .w-modal-header > h4 {
  padding-left: 40px;
  padding-right: 20px;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-title .w-modal-body {
  padding-left: 60px;
  opacity: 0.75;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-title:not(.w-modal-shown-icon) .w-modal-header > h4 {
  padding-left: 5px;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-title:not(.w-modal-shown-icon) .w-modal-body {
  padding-left: 25px;
}
.w-notify-warpper .w-notify .w-modal-inner:not(.w-modal-shown-title):not(.w-modal-shown-icon) .w-modal-body {
  padding: 16px;
}
.w-notify-warpper .w-notify .w-modal-inner:not(.w-modal-shown-title).w-modal-inner {
  padding-bottom: 0;
}
.w-notify-warpper .w-notify .w-modal-inner:not(.w-modal-shown-title).w-modal-inner .w-modal-header {
  padding-top: 16px;
}
.w-notify-warpper .w-notify .w-modal-inner:not(.w-modal-shown-title).w-modal-inner .w-modal-header > .w-icon {
  font-size: 20px !important;
}
.w-notify-warpper .w-notify .w-modal-inner:not(.w-modal-shown-title) .w-modal-body {
  padding: 16px 12px;
}
.w-notify-warpper .w-notify .w-overlay-content {
  margin: 5px;
}
.w-notify-warpper {
  position: fixed;
  padding: 5px;
  z-index: 999;
}
.w-notify-warpper.topLeft {
  top: 0;
  left: 0;
}
.w-notify-warpper.topRight {
  top: 0;
  right: 0;
}
.w-notify-warpper.bottomLeft {
  bottom: 0;
  left: 0;
}
.w-notify-warpper.bottomRight {
  bottom: 0;
  right: 0;
}

.w-form fieldset {
  margin: 0;
  padding: 0;
  border-width: 0;
}

.w-form-item {
  margin-bottom: 10px;
}
.w-form-item-error .w-form-help,
.w-form-item-error .w-form-label {
  color: #dc3545;
}
.w-form-item-error .w-input-inner,
.w-form-item-error .w-input-inner:hover,
.w-form-item-error .w-input-inner:focus.w-input-inner:hover,
.w-form-item-error .w-textarea,
.w-form-item-error .w-textarea:hover,
.w-form-item-error .w-textarea:focus.w-textarea:hover {
  box-shadow: 0 0 0 1px #dc3545, 0 0 0 3px rgba(220, 53, 69, 0.17), inset 0 1px 1px rgba(16, 22, 26, 0.2);
}
.w-form-label {
  line-height: 32px;
  min-height: 32px;
  font-weight: 600;
  font-size: 14px;
  padding-right: 5px;
}
.w-form-label label {
  display: inline-block;
}
.w-form-row {
  align-items: center;
  display: flex;
}
.w-form-help {
  color: #C2C2C2;
  font-size: 12px;
  padding-top: 3px;
}

.w-row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}
.w-row.w-row-justify-flex-start {
  justify-content: flex-start;
}
.w-row.w-row-justify-flex-end {
  justify-content: flex-end;
}
.w-row.w-row-justify-center {
  justify-content: center;
}
.w-row.w-row-justify-space-between {
  justify-content: space-between;
}
.w-row.w-row-justify-space-around {
  justify-content: space-around;
}
.w-row.w-row-justify-space-evenly {
  justify-content: space-evenly;
}
.w-row-align-top {
  align-items: flex-start;
}
.w-row-align-middle {
  align-items: center;
}
.w-row-align-bottom {
  align-items: flex-end;
}
.w-row-align-baseline {
  align-items: baseline;
}

.w-col {
  min-width: 0;
  box-sizing: border-box;
  flex: 0 0 auto;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
.w-col-fixed {
  flex: 0 1 auto;
}
.w-col-align-top {
  align-self: flex-start;
}
.w-col-align-middle {
  align-self: center;
}
.w-col-align-bottom {
  align-self: flex-end;
}
.w-col-align-baseline {
  align-self: baseline;
}
.w-col-grow-1 {
  flex-grow: 1;
}
.w-col-grow-2 {
  flex-grow: 2;
}
.w-col-grow-3 {
  flex-grow: 3;
}
.w-col-grow-4 {
  flex-grow: 4;
}
.w-col-grow-5 {
  flex-grow: 5;
}
.w-col-grow-6 {
  flex-grow: 6;
}
.w-col-grow-7 {
  flex-grow: 7;
}
.w-col-grow-8 {
  flex-grow: 8;
}
.w-col-grow-9 {
  flex-grow: 9;
}
.w-col-grow-10 {
  flex-grow: 10;
}
.w-col-grow-11 {
  flex-grow: 11;
}
.w-col-1 {
  flex-basis: 4.16666667%;
  max-width: 4.16666667%;
}
.w-col-2 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}
.w-col-3 {
  flex-basis: 12.5%;
  max-width: 12.5%;
}
.w-col-4 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}
.w-col-5 {
  flex-basis: 20.83333333%;
  max-width: 20.83333333%;
}
.w-col-6 {
  flex-basis: 25%;
  max-width: 25%;
}
.w-col-7 {
  flex-basis: 29.16666667%;
  max-width: 29.16666667%;
}
.w-col-8 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}
.w-col-9 {
  flex-basis: 37.5%;
  max-width: 37.5%;
}
.w-col-10 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}
.w-col-11 {
  flex-basis: 45.83333333%;
  max-width: 45.83333333%;
}
.w-col-12 {
  flex-basis: 50%;
  max-width: 50%;
}
.w-col-13 {
  flex-basis: 54.16666667%;
  max-width: 54.16666667%;
}
.w-col-14 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}
.w-col-15 {
  flex-basis: 62.5%;
  max-width: 62.5%;
}
.w-col-16 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}
.w-col-17 {
  flex-basis: 70.83333333%;
  max-width: 70.83333333%;
}
.w-col-18 {
  flex-basis: 75%;
  max-width: 75%;
}
.w-col-19 {
  flex-basis: 79.16666667%;
  max-width: 79.16666667%;
}
.w-col-20 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}
.w-col-21 {
  flex-basis: 87.5%;
  max-width: 87.5%;
}
.w-col-22 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}
.w-col-23 {
  flex-basis: 95.83333333%;
  max-width: 95.83333333%;
}
.w-col-24 {
  flex-basis: 100%;
  max-width: 100%;
}

