.w-input {
  position: relative;
  font-size: 14px;
  line-height: 14px;
  width: 100%;
}
.w-input-inner {
  outline: none;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-sizing: border-box;
  background: #fff;
  height: 30px;
  padding: 0 10px;
  vertical-align: middle;
  line-height: 30px;
  color: #393E48;
  font-weight: 400;
  font-size: inherit;
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 1, 0.75, 0.9);
  transition: box-shadow 0.3s cubic-bezier(0.4, 1, 0.75, 0.9);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.w-input-inner:not(:first-child) {
  padding-left: 26px;
}
.w-input-inner:focus {
  box-shadow: 0 0 0 1px #393E48, 0 0 0 3px rgba(57, 62, 72, 0.17), inset 0 1px 1px rgba(16, 22, 26, 0.2);
}
.w-input-inner:hover {
  box-shadow: 0 0 0 1px #6E6E6E, 0 0 0 3px rgba(57, 62, 72, 0), inset 0 1px 1px rgba(16, 22, 26, 0.2);
}
.w-input-inner:focus.w-input-inner:hover {
  box-shadow: 0 0 0 1px #6E6E6E, 0 0 0 3px rgba(57, 62, 72, 0.17), inset 0 1px 1px rgba(16, 22, 26, 0.2);
}
.w-input-inner:disabled {
  box-shadow: none;
  background: #DDDDDD;
  opacity: 0.75;
  color: #A5A5A5;
  cursor: not-allowed;
  resize: none;
}
.w-input .w-input-inner {
  width: 100%;
}
.w-input > .w-icon {
  position: absolute;
  margin: 0 7px 0 7px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}
.w-input-addon-after {
  position: absolute;
  top: 3px;
  right: 3px;
  display: flex;
  bottom: 3px;
}
.w-input-addon-after > * {
  display: flex !important;
  align-items: center;
}
.w-input-large {
  font-size: 16px;
}
.w-input-large .w-input-inner {
  line-height: 36px;
  height: 36px;
}
.w-input-small {
  min-width: 20px;
}
.w-input-small .w-input-inner {
  line-height: 24px;
  height: 24px;
  padding: 0 6px;
}
.w-input-small .w-input-inner:not(:first-child) {
  padding-left: 26px;
}
.w-input-small .w-input-addon-after > * {
  line-height: 16px;
  min-height: 16px;
}

.w-icon,
.w-icon svg {
  height: 1em;
  width: 1em;
}
.w-icon {
  display: inline-flex;
  align-self: center;
  position: relative;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  box-sizing: inherit;
}
.w-icon-baseline {
  top: 0.125em;
}
.w-icon-spin svg {
  -webkit-animation: loading-circle 1s infinite linear;
          animation: loading-circle 1s infinite linear;
}
@-webkit-keyframes loading-circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loading-circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.w-btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 7px;
  position: relative;
  vertical-align: middle;
  text-align: left;
  line-height: 14px;
  font-size: 14px;
  min-width: 30px;
  min-height: 30px;
  text-align: center;
  color: #fff;
  -webkit-transition: background-color 0.5s, opacity 1s;
  transition: background-color 0.5s, opacity 1s;
}
.w-btn > *:not(:last-child) {
  margin-right: 5px;
}
.w-btn + .w-btn:not(.block) {
  margin-left: 5px;
}
.w-btn.block {
  display: block;
  width: 100%;
}
.w-btn.disabled,
.w-btn[disabled] {
  cursor: not-allowed;
}
.w-btn-primary {
  color: #fff;
  background-color: #008EF0;
  z-index: 1;
}
.w-btn-primary:hover {
  background-color: #0070bd;
}
.w-btn-primary:focus,
.w-btn-primary.focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(0, 142, 240, 0.26);
}
.w-btn-primary:hover {
  color: #fff;
  background-color: #0070bd;
  z-index: 2;
}
.w-btn-primary:active,
.w-btn-primary.active {
  color: #fff;
  background-color: #00528a;
  background-image: none;
}
.w-btn-primary.disabled,
.w-btn-primary[disabled] {
  background-color: #57baff;
  z-index: 0;
}
.w-btn-primary.w-btn-basic {
  background-color: transparent !important;
  box-shadow: inset 0 0 0 #000;
  color: #008EF0;
}
.w-btn-primary.w-btn-basic:hover {
  background-color: #c7e8ff !important;
}
.w-btn-primary.w-btn-basic:active,
.w-btn-primary.w-btn-basic.active {
  color: #008EF0;
  background-color: #94d3ff !important;
  background-image: none;
}
.w-btn-primary.w-btn-basic.disabled,
.w-btn-primary.w-btn-basic[disabled] {
  background-color: transparent !important;
  color: #24a6ff;
}
.w-btn-success {
  color: #fff;
  background-color: #28a745;
  z-index: 1;
}
.w-btn-success:hover {
  background-color: #1e7e34;
}
.w-btn-success:focus,
.w-btn-success.focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(40, 167, 69, 0.26);
}
.w-btn-success:hover {
  color: #fff;
  background-color: #1e7e34;
  z-index: 2;
}
.w-btn-success:active,
.w-btn-success.active {
  color: #fff;
  background-color: #145523;
  background-image: none;
}
.w-btn-success.disabled,
.w-btn-success[disabled] {
  background-color: #5dd879;
  z-index: 0;
}
.w-btn-success.w-btn-basic {
  background-color: transparent !important;
  box-shadow: inset 0 0 0 #000;
  color: #28a745;
}
.w-btn-success.w-btn-basic:hover {
  background-color: #b7eec4 !important;
}
.w-btn-success.w-btn-basic:active,
.w-btn-success.w-btn-basic.active {
  color: #28a745;
  background-color: #8ee4a2 !important;
  background-image: none;
}
.w-btn-success.w-btn-basic.disabled,
.w-btn-success.w-btn-basic[disabled] {
  background-color: transparent !important;
  color: #34ce57;
}
.w-btn-warning {
  color: #fff;
  background-color: #ffc107;
  z-index: 1;
}
.w-btn-warning:hover {
  background-color: #d39e00;
}
.w-btn-warning:focus,
.w-btn-warning.focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 193, 7, 0.26);
}
.w-btn-warning:hover {
  color: #fff;
  background-color: #d39e00;
  z-index: 2;
}
.w-btn-warning:active,
.w-btn-warning.active {
  color: #fff;
  background-color: #a07800;
  background-image: none;
}
.w-btn-warning.disabled,
.w-btn-warning[disabled] {
  background-color: #ffdb6d;
  z-index: 0;
}
.w-btn-warning.w-btn-basic {
  background-color: transparent !important;
  box-shadow: inset 0 0 0 #000;
  color: #ffc107;
}
.w-btn-warning.w-btn-basic:hover {
  background-color: #fff7dd !important;
}
.w-btn-warning.w-btn-basic:active,
.w-btn-warning.w-btn-basic.active {
  color: #ffc107;
  background-color: #ffeaaa !important;
  background-image: none;
}
.w-btn-warning.w-btn-basic.disabled,
.w-btn-warning.w-btn-basic[disabled] {
  background-color: transparent !important;
  color: #ffce3a;
}
.w-btn-danger {
  color: #fff;
  background-color: #dc3545;
  z-index: 1;
}
.w-btn-danger:hover {
  background-color: #bd2130;
}
.w-btn-danger:focus,
.w-btn-danger.focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(220, 53, 69, 0.26);
}
.w-btn-danger:hover {
  color: #fff;
  background-color: #bd2130;
  z-index: 2;
}
.w-btn-danger:active,
.w-btn-danger.active {
  color: #fff;
  background-color: #921925;
  background-image: none;
}
.w-btn-danger.disabled,
.w-btn-danger[disabled] {
  background-color: #eb8c95;
  z-index: 0;
}
.w-btn-danger.w-btn-basic {
  background-color: transparent !important;
  box-shadow: inset 0 0 0 #000;
  color: #dc3545;
}
.w-btn-danger.w-btn-basic:hover {
  background-color: #fceced !important;
}
.w-btn-danger.w-btn-basic:active,
.w-btn-danger.w-btn-basic.active {
  color: #dc3545;
  background-color: #f4c0c5 !important;
  background-image: none;
}
.w-btn-danger.w-btn-basic.disabled,
.w-btn-danger.w-btn-basic[disabled] {
  background-color: transparent !important;
  color: #e4606d;
}
.w-btn-light {
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.17), inset 1px -1px 0 0 rgba(0, 0, 0, 0.17), inset -1px 0px 0 0 rgba(0, 0, 0, 0.17);
  color: #393E48;
  background-color: #f8f9fa;
  z-index: 1;
}
.w-btn-light:hover {
  background-color: #dae0e5;
}
.w-btn-light:focus,
.w-btn-light.focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(248, 249, 250, 0.26);
}
.w-btn-light:hover {
  color: #393E48;
  background-color: #dae0e5;
  z-index: 2;
}
.w-btn-light:active,
.w-btn-light.active {
  color: #393E48;
  background-color: #bcc6cf;
  background-image: none;
}
.w-btn-light.disabled,
.w-btn-light[disabled] {
  background-color: #ffffff;
  z-index: 0;
}
.w-btn-light.w-btn-basic {
  background-color: transparent !important;
  box-shadow: inset 0 0 0 #000;
  color: #f8f9fa;
}
.w-btn-light.w-btn-basic:hover {
  background-color: #ffffff !important;
}
.w-btn-light.w-btn-basic:active,
.w-btn-light.w-btn-basic.active {
  color: #f8f9fa;
  background-color: #ffffff !important;
  background-image: none;
}
.w-btn-light.w-btn-basic.disabled,
.w-btn-light.w-btn-basic[disabled] {
  background-color: transparent !important;
  color: #ffffff;
}
.w-btn-light:focus,
.w-btn-light.focus {
  outline: 0;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.17), inset 1px -1px 0 0 rgba(0, 0, 0, 0.17), inset -1px 0px 0 0 rgba(0, 0, 0, 0.17), 0 0 0 2px rgba(0, 0, 0, 0.1);
}
.w-btn-light.w-btn-basic {
  color: #9199a7;
}
.w-btn-light.w-btn-basic:focus,
.w-btn-light.w-btn-basic.focus {
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.17);
}
.w-btn-light.w-btn-basic:hover {
  background-color: #ecedf0 !important;
}
.w-btn-light.w-btn-basic:active,
.w-btn-light.w-btn-basic.active {
  color: #9199a7;
  background-color: #d5d8dd !important;
  background-image: none;
}
.w-btn-light.w-btn-basic.disabled,
.w-btn-light.w-btn-basic[disabled] {
  background-color: transparent !important;
  color: #adb3be;
}
.w-btn-light.disabled,
.w-btn-light[disabled] {
  color: #666f81;
  z-index: 0;
}
.w-btn-dark {
  color: #fff;
  background-color: #393E48;
  z-index: 1;
}
.w-btn-dark:hover {
  background-color: #22252c;
}
.w-btn-dark:focus,
.w-btn-dark.focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(57, 62, 72, 0.26);
}
.w-btn-dark:hover {
  color: #fff;
  background-color: #22252c;
  z-index: 2;
}
.w-btn-dark:active,
.w-btn-dark.active {
  color: #fff;
  background-color: #0c0d0f;
  background-image: none;
}
.w-btn-dark.disabled,
.w-btn-dark[disabled] {
  background-color: #666f81;
  z-index: 0;
}
.w-btn-dark.w-btn-basic {
  background-color: transparent !important;
  box-shadow: inset 0 0 0 #000;
  color: #393E48;
}
.w-btn-dark.w-btn-basic:hover {
  background-color: #a2a8b5 !important;
}
.w-btn-dark.w-btn-basic:active,
.w-btn-dark.w-btn-basic.active {
  color: #393E48;
  background-color: #858e9f !important;
  background-image: none;
}
.w-btn-dark.w-btn-basic.disabled,
.w-btn-dark.w-btn-basic[disabled] {
  background-color: transparent !important;
  color: #505764;
}
.w-btn-link {
  color: #008EF0;
  background-color: transparent;
  z-index: 1;
}
.w-btn-link:hover {
  background-color: rgba(0, 0, 0, 0);
}
.w-btn-link:focus,
.w-btn-link.focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0);
}
.w-btn-link:hover {
  color: #008EF0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
}
.w-btn-link:active,
.w-btn-link.active {
  color: #008EF0;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
}
.w-btn-link.disabled,
.w-btn-link[disabled] {
  background-color: rgba(51, 51, 51, 0);
  z-index: 0;
}
.w-btn-link.w-btn-basic {
  background-color: transparent !important;
  box-shadow: inset 0 0 0 #000;
  color: transparent;
}
.w-btn-link.w-btn-basic:hover {
  background-color: rgba(107, 107, 107, 0) !important;
}
.w-btn-link.w-btn-basic:active,
.w-btn-link.w-btn-basic.active {
  color: transparent;
  background-color: rgba(82, 82, 82, 0) !important;
  background-image: none;
}
.w-btn-link.w-btn-basic.disabled,
.w-btn-link.w-btn-basic[disabled] {
  background-color: transparent !important;
  color: rgba(26, 26, 26, 0);
}
.w-btn-link:hover:not([disabled]) {
  color: #006ab3;
  text-decoration: underline;
}
.w-btn-link:not([disabled]):active,
.w-btn-link:not([disabled]).active {
  color: #002d4d;
  box-shadow: none;
  text-decoration: underline;
}
.w-btn-link.disabled,
.w-btn-link[disabled] {
  z-index: 0;
}
.w-btn .w-icon {
  font-size: 16px;
}
.w-btn-size-large {
  font-size: 16px;
  line-height: 16px;
  min-height: 36px;
}
.w-btn-size-large .w-icon {
  font-size: 20px;
}
.w-btn-size-small {
  padding: 0 6px;
  min-width: 20px;
  font-size: 12px;
  line-height: 24px;
  min-height: 24px;
}
.w-btn-size-small .w-icon {
  font-size: 14px;
}
.w-btn .w-icon:not(:last-child) {
  margin-right: 5px;
}
.w-btn-loading.w-btn-light::before {
  border: 1.2px solid #666f81;
}
.w-btn-loading::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 1.2px solid #fff;
  color: #fff;
  margin: 0 3px 0 0;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 30%, 0% 30%);
          clip-path: polygon(0% 0%, 100% 0, 100% 30%, 0% 30%);
  -webkit-animation: rotate 0.5s linear infinite;
          animation: rotate 0.5s linear infinite;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.w-tag {
  border-radius: 2px;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 12px;
  padding: 1px 5px;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
}
.w-tag + .w-tag {
  margin-left: 5px;
}
.w-tag.disabled {
  opacity: 0.75;
  cursor: not-allowed;
}
.w-tag-light .w-tag-close:hover {
  background-color: currentcolor;
}
.w-tag-light .w-tag-close:hover path {
  fill: #fff;
}
.w-tag-light .w-tag-close:active {
  background-color: rgba(0, 0, 0, 0.15);
}
.w-tag-close {
  vertical-align: bottom;
  margin: 0px -3px 0 2px;
  border-radius: 2px;
  position: relative;
  top: -1px;
  fill: currentcolor;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.w-tag-close:hover {
  background-color: rgba(0, 0, 0, 0.22);
}
.w-tag-close:active {
  background-color: rgba(0, 0, 0, 0.32);
}

.w-row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}
.w-row.w-row-justify-flex-start {
  justify-content: flex-start;
}
.w-row.w-row-justify-flex-end {
  justify-content: flex-end;
}
.w-row.w-row-justify-center {
  justify-content: center;
}
.w-row.w-row-justify-space-between {
  justify-content: space-between;
}
.w-row.w-row-justify-space-around {
  justify-content: space-around;
}
.w-row.w-row-justify-space-evenly {
  justify-content: space-evenly;
}
.w-row-align-top {
  align-items: flex-start;
}
.w-row-align-middle {
  align-items: center;
}
.w-row-align-bottom {
  align-items: flex-end;
}
.w-row-align-baseline {
  align-items: baseline;
}

.w-col {
  min-width: 0;
  box-sizing: border-box;
  flex: 0 0 auto;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
.w-col-fixed {
  flex: 0 1 auto;
}
.w-col-align-top {
  align-self: flex-start;
}
.w-col-align-middle {
  align-self: center;
}
.w-col-align-bottom {
  align-self: flex-end;
}
.w-col-align-baseline {
  align-self: baseline;
}
.w-col-grow-1 {
  flex-grow: 1;
}
.w-col-grow-2 {
  flex-grow: 2;
}
.w-col-grow-3 {
  flex-grow: 3;
}
.w-col-grow-4 {
  flex-grow: 4;
}
.w-col-grow-5 {
  flex-grow: 5;
}
.w-col-grow-6 {
  flex-grow: 6;
}
.w-col-grow-7 {
  flex-grow: 7;
}
.w-col-grow-8 {
  flex-grow: 8;
}
.w-col-grow-9 {
  flex-grow: 9;
}
.w-col-grow-10 {
  flex-grow: 10;
}
.w-col-grow-11 {
  flex-grow: 11;
}
.w-col-1 {
  flex-basis: 4.16666667%;
  max-width: 4.16666667%;
}
.w-col-2 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}
.w-col-3 {
  flex-basis: 12.5%;
  max-width: 12.5%;
}
.w-col-4 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}
.w-col-5 {
  flex-basis: 20.83333333%;
  max-width: 20.83333333%;
}
.w-col-6 {
  flex-basis: 25%;
  max-width: 25%;
}
.w-col-7 {
  flex-basis: 29.16666667%;
  max-width: 29.16666667%;
}
.w-col-8 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}
.w-col-9 {
  flex-basis: 37.5%;
  max-width: 37.5%;
}
.w-col-10 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}
.w-col-11 {
  flex-basis: 45.83333333%;
  max-width: 45.83333333%;
}
.w-col-12 {
  flex-basis: 50%;
  max-width: 50%;
}
.w-col-13 {
  flex-basis: 54.16666667%;
  max-width: 54.16666667%;
}
.w-col-14 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}
.w-col-15 {
  flex-basis: 62.5%;
  max-width: 62.5%;
}
.w-col-16 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}
.w-col-17 {
  flex-basis: 70.83333333%;
  max-width: 70.83333333%;
}
.w-col-18 {
  flex-basis: 75%;
  max-width: 75%;
}
.w-col-19 {
  flex-basis: 79.16666667%;
  max-width: 79.16666667%;
}
.w-col-20 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}
.w-col-21 {
  flex-basis: 87.5%;
  max-width: 87.5%;
}
.w-col-22 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}
.w-col-23 {
  flex-basis: 95.83333333%;
  max-width: 95.83333333%;
}
.w-col-24 {
  flex-basis: 100%;
  max-width: 100%;
}

