.w-tag {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 12px;
  background-color: #fff;
}
.w-tag + .w-tag {
  margin-left: 5px;
}
.w-tag-title,
.w-tag-content {
  padding: 2px 4px;
}
.w-tag-title {
  border-style: solid;
  border-width: 1px;
  color: #fff;
  border-radius: 3px 0 0 3px;
  border-right-width: 0;
}
.w-tag-content {
  color: #6E6E6E;
  border: #C2C2C2 solid 1px;
  border-radius: 0 3px 3px 0;
  border-left-width: 0;
}
.w-tag:not(.w-tag-capsule) .w-tag-title,
.w-tag:not(.w-tag-capsule) .w-tag-content {
  border-radius: 3px;
}
.w-tag:not(.w-tag-capsule) .w-tag-content {
  border-left-width: 1px;
}
.w-tag.w-tag-capsule .w-tag-title {
  background-color: #555;
  border-color: #555;
}
.w-tag.w-disabled {
  opacity: 0.75;
  cursor: not-allowed;
}

.w-divider {
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #e8e8e8;
}
.w-divider,
.w-divider .w-divider-vertical {
  margin: 0 8px;
  display: inline-block;
  height: 0.9em;
  width: 1px;
  vertical-align: middle;
  position: relative;
  top: -0.06em;
}
.w-divider-horizontal {
  display: block;
  height: 1px;
  width: 100%;
  margin: 18px 0;
}
.w-divider-horizontal.w-divider-with-text {
  display: table;
  white-space: nowrap;
  text-align: center;
  background: transparent;
  font-weight: 500;
  color: #52575c;
  font-size: 16px;
  margin: 16px 0;
}
.w-divider-horizontal.w-divider-with-text:before,
.w-divider-horizontal.w-divider-with-text:after {
  content: '';
  display: table-cell;
  position: relative;
  top: 50%;
  width: 50%;
  border-top: 1px solid #e8e8e8;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
.w-divider-inner-text {
  display: inline-block;
  padding: 0 24px;
}
.w-divider-dashed {
  background: none;
  border-top: 1px dashed #e8e8e8;
}

.w-icon,
.w-icon svg {
  height: 1em;
  width: 1em;
}
.w-icon {
  display: inline-flex;
  align-self: center;
  position: relative;
}
.w-icon-baseline {
  top: 0.125em;
}
.w-icon-spin svg {
  -webkit-animation: loading-circle 1s infinite linear;
          animation: loading-circle 1s infinite linear;
}
@-webkit-keyframes loading-circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loading-circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

