.w-split {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.w-split-bar {
  z-index: 1;
  justify-content: center;
  display: flex;
  background: #f8f8f9;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.w-split-bar::before,
.w-split-bar::after {
  content: '';
  display: block;
}
.w-split-bar.disable {
  cursor: not-allowed !important;
}
.w-split-bar:hover:not(.disable) {
  transition: background-color 0.3s;
  background: #ecf7ff;
}
.w-split.dragging .w-split-pane {
  position: relative;
}
.w-split.dragging .w-split-pane::before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.w-split > .w-split-pane {
  transform: none;
}
.w-split:not(.dragging) > .w-split-pane {
  transition: all 0.3s;
}
.w-split-horizontal > .w-split-bar {
  cursor: col-resize;
  width: 5px;
  height: 100%;
  flex-direction: column;
  box-shadow: inset 1px 0 0 0 #d5d5d5, 1px 0 0 0 #d5d5d5;
}
.w-split-horizontal > .w-split-bar::before,
.w-split-horizontal > .w-split-bar::after {
  height: 3px;
  width: 100%;
  box-shadow: inset 0 1px 0 0 #d5d5d5, 0 1px 0 0 #d5d5d5;
}
.w-split-horizontal > .w-split-bar::before {
  margin-top: -1px;
}
.w-split-horizontal > .w-split-bar::after {
  margin-top: 3px;
}
.w-split-horizontal > .w-split-bar.disable {
  box-shadow: inset 1px 0 0 0 #e6e6e6, 1px 0 0 0 #eaeaea !important;
}
.w-split-vertical {
  flex-direction: column;
}
.w-split-vertical > .w-split-bar {
  cursor: row-resize;
  width: 100%;
  height: 5px;
  align-items: center;
  flex-direction: row;
  box-shadow: inset 0 1px 0 0 #d5d5d5, 0 1px 0 0 #d5d5d5;
}
.w-split-vertical > .w-split-bar.disable {
  box-shadow: inset 0 1px 0 0 #e6e6e6, 0 1px 0 0 #eaeaea !important;
}
.w-split-vertical > .w-split-bar::before,
.w-split-vertical > .w-split-bar::after {
  height: 100%;
  width: 3px;
  box-shadow: inset 1px 0 0 0 #d5d5d5, 1px 0 0 0 #d5d5d5;
}
.w-split-vertical > .w-split-bar::before {
  margin-left: -1px;
}
.w-split-vertical > .w-split-bar::after {
  margin-left: 3px;
}
.w-split-vertical > .w-split-line-bar:hover::before,
.w-split-horizontal > .w-split-line-bar:hover::before {
  border-color: #008EF0;
}
.w-split-vertical > .w-split-line-bar {
  height: 1px;
}
.w-split-vertical > .w-split-line-bar div {
  cursor: row-resize;
  width: 100%;
  height: 8px;
  margin-top: -2px;
  margin-bottom: -2px;
}
.w-split-vertical > .w-split-line-bar div:hover,
.w-split-vertical > .w-split-line-bar div:active,
.w-split-vertical > .w-split-line-bar div:focus {
  margin-top: -16px;
  margin-bottom: -16px;
  height: 16px;
}
.w-split-vertical > .w-split-line-bar div:hover:hover::after,
.w-split-vertical > .w-split-line-bar div:active:hover::after,
.w-split-vertical > .w-split-line-bar div:focus:hover::after,
.w-split-vertical > .w-split-line-bar div:hover:active::after,
.w-split-vertical > .w-split-line-bar div:active:active::after,
.w-split-vertical > .w-split-line-bar div:focus:active::after,
.w-split-vertical > .w-split-line-bar div:hover:focus::after,
.w-split-vertical > .w-split-line-bar div:active:focus::after,
.w-split-vertical > .w-split-line-bar div:focus:focus::after {
  background-color: #008EF0;
}
.w-split-vertical > .w-split-line-bar div::after {
  height: 1px;
  width: 100%;
}
.w-split-horizontal > .w-split-line-bar {
  width: 1px;
}
.w-split-horizontal > .w-split-line-bar div {
  cursor: col-resize;
  height: 100%;
  width: 8px;
  margin-left: -2px;
  margin-right: -2px;
}
.w-split-horizontal > .w-split-line-bar div:hover,
.w-split-horizontal > .w-split-line-bar div:active,
.w-split-horizontal > .w-split-line-bar div:focus {
  margin-left: -16px;
  margin-right: -16px;
  width: 16px;
}
.w-split-horizontal > .w-split-line-bar div:hover:hover::after,
.w-split-horizontal > .w-split-line-bar div:active:hover::after,
.w-split-horizontal > .w-split-line-bar div:focus:hover::after,
.w-split-horizontal > .w-split-line-bar div:hover:active::after,
.w-split-horizontal > .w-split-line-bar div:active:active::after,
.w-split-horizontal > .w-split-line-bar div:focus:active::after,
.w-split-horizontal > .w-split-line-bar div:hover:focus::after,
.w-split-horizontal > .w-split-line-bar div:active:focus::after,
.w-split-horizontal > .w-split-line-bar div:focus:focus::after {
  background-color: #008EF0;
}
.w-split-horizontal > .w-split-line-bar div::after {
  width: 1px;
  height: 100%;
}
.w-split-vertical > .w-split-line-bar,
.w-split-horizontal > .w-split-line-bar {
  flex-direction: inherit;
}
.w-split-vertical > .w-split-line-bar::before,
.w-split-horizontal > .w-split-line-bar::before {
  display: none;
}
.w-split-vertical > .w-split-line-bar div,
.w-split-horizontal > .w-split-line-bar div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.w-split-vertical > .w-split-line-bar div::after,
.w-split-horizontal > .w-split-line-bar div::after {
  content: '';
  display: block;
  background-color: #d5d5d5;
}
.w-split-line-bar {
  box-shadow: inset 0 0 0 0 !important;
  background: transparent;
}
.w-split-line-bar::before {
  box-shadow: inset 0 0 0 0 !important;
}
.w-split-line-bar::after {
  display: none;
}

.markdown-body > *:first-child {
  margin-top: 0 !important;
}
.markdown-body a {
  background-color: transparent;
  color: #0366d6;
  text-decoration: none;
}
.markdown-body a:active,
.markdown-body a:hover {
  outline-width: 0;
  text-decoration: underline;
}
.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.markdown-body strong {
  font-weight: bolder;
}
.markdown-body img {
  border-style: none;
}
.markdown-body code,
.markdown-body kbd,
.markdown-body pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
.markdown-body hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
.markdown-body input {
  font: inherit;
  margin: 0;
}
.markdown-body input {
  overflow: visible;
}
.markdown-body [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
.markdown-body input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.markdown-body strong {
  font-weight: 600;
}
.markdown-body hr {
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid #dfe2e5;
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border-bottom-color: #eee;
  border: 0;
}
.markdown-body hr::before {
  display: table;
  content: "";
}
.markdown-body hr::after {
  display: table;
  clear: both;
  content: "";
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.markdown-body h1 {
  font-size: 32px;
  font-weight: 600;
}
.markdown-body h2 {
  font-size: 24px;
  font-weight: 600;
}
.markdown-body h3 {
  font-size: 20px;
  font-weight: 600;
}
.markdown-body h4 {
  font-size: 16px;
  font-weight: 600;
}
.markdown-body h5 {
  font-size: 14px;
  font-weight: 600;
}
.markdown-body h6 {
  font-size: 12px;
  font-weight: 600;
}
.markdown-body p {
  margin-top: 0;
  margin-bottom: 10px;
}
.markdown-body blockquote {
  margin: 0;
}
.markdown-body ul,
.markdown-body ol {
  margin-top: 0;
  margin-bottom: 0;
}
.markdown-body ol ol,
.markdown-body ul ol {
  list-style-type: lower-roman;
}
.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
  list-style-type: lower-alpha;
}
.markdown-body dd {
  margin-left: 0;
}
.markdown-body code,
.markdown-body pre {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}
.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre:not(.CodeMirror-line) {
  margin-top: 0;
  margin-bottom: 16px;
}
.markdown-body blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}
.markdown-body blockquote > :first-child {
  margin-top: 0;
}
.markdown-body blockquote > :last-child {
  margin-bottom: 0;
}
.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.markdown-body h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
}
.markdown-body h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
}
.markdown-body h3 {
  font-size: 1.25em;
}
.markdown-body h4 {
  font-size: 1em;
}
.markdown-body h5 {
  font-size: 0.875em;
}
.markdown-body h6 {
  font-size: 0.85em;
  color: #6a737d;
}
.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
.markdown-body ul,
.markdown-body ol {
  padding-left: 2em;
}
.markdown-body li {
  word-wrap: break-all;
  list-style: disc outside none;
  list-style: initial;
}
.markdown-body ol li {
  list-style: inherit;
}
.markdown-body li > p {
  margin-top: 16px;
}
.markdown-body li + li {
  margin-top: 0.25em;
}
.markdown-body dl {
  padding: 0;
}
.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}
.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}
.markdown-body table {
  border-spacing: 0;
  border-collapse: collapse;
}
.markdown-body td,
.markdown-body th {
  padding: 0;
}
.markdown-body table {
  display: block;
  width: 100%;
  overflow: auto;
}
.markdown-body table th {
  font-weight: 600;
}
.markdown-body table th,
.markdown-body table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}
.markdown-body table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}
.markdown-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
.markdown-body img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}
.markdown-body img[align=right] {
  padding-left: 20px;
}
.markdown-body img[align=left] {
  padding-right: 20px;
}
.markdown-body code {
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}
.markdown-body pre:not(.CodeMirror-line) {
  word-wrap: normal;
  max-height: 400px;
  overflow: auto;
}
.markdown-body pre:not(.CodeMirror-line) code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
}
.markdown-body .task-list-item {
  list-style-type: none;
}
.markdown-body .task-list-item + .task-list-item {
  margin-top: 3px;
}
.markdown-body .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}
.markdown-body .inserted {
  background-color: #def7e5;
  color: #22863a;
}
.markdown-body .deleted {
  background-color: #ffdde0;
  color: #dc3545;
}
._9064fc17 {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  word-wrap: break-word;
}
._9064fc17 code,
._9064fc17 pre {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.highlight {
  display: block;
  border-radius: 3px;
  overflow-x: auto;
  padding: 12px 16px;
  font-size: 85%;
  color: #333;
  background: #f6f8fa;
}
.highlight .line-number {
  position: absolute;
  color: rgba(27, 31, 35, 0.3);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
}
.highlight .line-number:hover {
  color: #333;
}
.highlight .line-number:hover:before {
  text-decoration: underline;
}
.highlight .line-number:before {
  content: attr(data-start);
  cursor: pointer;
  text-align: right;
  display: inline-block;
  font-size: 12px;
  min-width: 40px;
  min-height: 20px;
  padding-right: 5px;
  padding-left: 10px;
}
.highlight .class-name {
  color: #000896;
}
.highlight .comment, .highlight .quote {
  color: #998;
}
.highlight .keyword, .highlight .selector-tag, .highlight .subst {
  color: #d73a49;
}
.highlight .key, .highlight .number, .highlight .literal, .highlight .variable, .highlight .template-variable, .highlight .tag .attr {
  color: #008080;
}
.highlight .string, .highlight .doctag {
  color: #0065da;
}
.highlight .title, .highlight .section, .highlight .selector-id {
  color: #900;
  font-weight: bold;
}
.highlight .subst {
  font-weight: normal;
}
.highlight .type, .highlight .class .title {
  color: #458;
  font-weight: bold;
}
.highlight .function, .highlight .operator {
  color: #000bc5;
}
.highlight .tag, .highlight .name, .highlight .attribute {
  color: #002ade;
  font-weight: normal;
}
.highlight .url {
  color: #3c04ff;
}
.highlight .boolean {
  color: #005cc5;
}
.highlight .property {
  color: #032f62;
}
.highlight .null, .highlight .selector {
  color: #005cc5;
}
.highlight .constant {
  color: #d73a49;
}
.highlight .punctuation {
  color: #A595A5;
}
.highlight .attr-name {
  color: #8F4919;
}
.highlight .attr-value {
  color: #13239F;
}
.highlight .tag .punctuation {
  color: #A595A5;
}
.highlight .tag .attr-name {
  color: #8F4919;
}
.highlight .tag .attr-value {
  color: #13239F;
}
.highlight .tag .attr-value .punctuation, .highlight .tag .script-punctuation {
  color: #A595A5;
}
.highlight .tag .script .keyword {
  color: #090080;
}
.highlight .tag .language-javascript {
  color: #6f42c1;
}
.highlight .regexp, .highlight .regex, .highlight .link {
  color: #009926;
}
.highlight .symbol, .highlight .bullet {
  color: #990073;
}
.highlight .built_in, .highlight .builtin-name {
  color: #0086b3;
}
.highlight .meta {
  color: #999;
  font-weight: bold;
}
.highlight .deletion {
  background: #fdd;
}
.highlight .addition {
  background: #dfd;
}
.highlight .emphasis {
  font-style: italic;
}
.highlight .strong {
  font-weight: bold;
}
.highlight .shebang, .highlight .important {
  color: #FF1717;
}
.language-yaml .atrule, .language-yml .atrule {
  color: #22863a;
}
.language-css, .language-styl, .language-less, .language-scss, .language-sass {
  color: #005cc5;
}
.language-css .punctuation, .language-styl .punctuation, .language-less .punctuation, .language-scss .punctuation, .language-sass .punctuation {
  color: #24292e;
}
.language-css .selector, .language-styl .selector, .language-less .selector, .language-scss .selector, .language-sass .selector {
  color: #6749BA;
}
.language-css .property, .language-styl .property, .language-less .property, .language-scss .property, .language-sass .property {
  color: #005cc5;
}
.language-css .atrule, .language-styl .atrule, .language-less .atrule, .language-scss .atrule, .language-sass .atrule {
  color: #d73a49;
}

.e092efd9 {
  padding: 30px 0 10px 0;
  line-height: 24px;
  color: #909090;
}
._98b26b9b {
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0), 0 1px 1px rgba(16, 22, 26, 0.2);
  border-radius: 3px;
  margin-bottom: 16px;
}
._4ff6d57b {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}
._4ff6d57b svg {
  opacity: 0.7;
}
.da15bd6d {
  position: relative;
  padding: 15px;
  min-height: 80px;
  height: 100%;
}
._351724f9 {
  background-color: #f0f0f0;
  overflow: hidden;
}
._463fbe6e {
  height: 0;
  padding: 0;
  border-top: 0;
}
.adcd39e6 {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.03);
  box-shadow: inset 1px 0 0 0 #d5d5d5;
  padding: 3px 3px 8px 2px;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.45);
  letter-spacing: 1px;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  overflow: hidden;
  width: 29px;
  display: flex;
}
.adcd39e6 .f2089b66 {
  padding: 5px 0;
  transition: all 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  flex: 1 1;
}
.adcd39e6 .f2089b66:hover {
  color: #000;
}
.adcd39e6 ._33ee54e5 svg {
  transition: all 0.3s;
  fill: #9c9c9c;
}
.adcd39e6 ._33ee54e5 svg:hover {
  fill: #000;
}
._98b26b9b {
  display: flex;
}
._98b26b9b ul,
._98b26b9b ol {
  padding-left: 0;
  padding-left: initial;
}
._98b26b9b ._04926f4e {
  position: relative;
}
._98b26b9b:not(._6ed438c3) {
  transition: all 0.3s;
}
._98b26b9b ._3dadf11c:not(._04926f4e) {
  position: relative;
  overflow: auto;
  min-width: 100px;
}
._98b26b9b._6ed438c3 {
  position: fixed;
  background-color: #fff;
  border-radius: 0;
  border: 0;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  right: 0;
  z-index: 99;
}
._6e50b31c {
  display: none;
}
._96febcc3 {
  z-index: 2;
  background: #fff;
  width: 100%;
  height: 100%;
  margin-bottom: 0 !important;
  color: #dc3545;
  background-color: #fbeff0;
}

.w-divider {
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #e8e8e8;
}
.w-divider,
.w-divider-vertical {
  margin: 0 8px;
  display: inline-block;
  height: 0.9em;
  width: 1px;
  vertical-align: middle;
  position: relative;
  top: -0.06em;
}
.w-divider-horizontal {
  display: block;
  height: 1px;
  width: 100%;
  margin: 16px 0;
}
.w-divider-horizontal.w-divider-with-text {
  display: table;
  white-space: nowrap;
  text-align: center;
  background: transparent;
  font-weight: 500;
  color: #353535;
  margin: 16px 0;
}
.w-divider-horizontal.w-divider-with-text:before,
.w-divider-horizontal.w-divider-with-text:after {
  content: '';
  display: table-cell;
  position: relative;
  top: 50%;
  width: 50%;
  border-top: 1px solid #e8e8e8;
  transform: translateY(50%);
}
.w-divider-left.w-divider-with-text::before,
.w-divider-right.w-divider-with-text::after {
  width: 5%;
}
.w-divider-left.w-divider-with-text::after,
.w-divider-right.w-divider-with-text::before {
  width: 95%;
}
.w-divider-dashed.w-divider-with-text::before,
.w-divider-dashed.w-divider-with-text::after {
  border-top-style: dashed;
}
.w-divider-inner-text {
  display: inline-block;
  padding: 0 10px;
}
.w-divider-dashed:not(.w-divider-with-text) {
  background: none;
  border-top: 1px dashed #e8e8e8;
}

