.w-steps {
  font-size: 0;
  width: 100%;
  line-height: 1.5;
}
.w-steps .w-steps-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.w-steps .w-steps-item:last-child .w-steps-item-tail {
  display: none;
  text-align: center;
}
.w-steps .w-steps-item-tail {
  position: absolute;
  left: 0;
  width: 100%;
  top: 13px;
  padding: 0 10px;
  height: 1px;
}
.w-steps .w-steps-item-tail i {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #e9e9e9;
}
.w-steps .w-steps-item-tail i:after {
  position: absolute;
  content: " ";
  top: 0;
  width: 0;
  height: 100%;
  transition: all 0.6s;
}
.w-steps .w-steps-item-head,
.w-steps .w-steps-item-main {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.w-steps .w-steps-item-head {
  padding-left: 10px;
  background: #fff;
}
.w-steps .w-steps-item-head:not(:first-child) {
  margin-left: -10px;
}
.w-steps .w-steps-item-title {
  padding-right: 10px;
  line-height: 26px;
  font-size: 14px;
  font-weight: 700;
  background: #fff;
  color: #999;
  display: inline-block;
}
.w-steps .w-steps-item-description {
  font-size: 12px;
  color: #999;
  max-width: 130px;
}
.w-steps .w-steps-item-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.25);
  background-color: #fff;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 26px;
  font-size: 14px;
  margin-right: 8px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.w-steps .w-steps-item-process .w-steps-item-inner,
.w-steps .w-steps-item-finish .w-steps-item-inner {
  border-color: #2d8cf0;
  background-color: #2d8cf0;
  color: #fff;
}
.w-steps .w-steps-item-process .w-steps-item-inner.is-icon .w-steps-icon,
.w-steps .w-steps-item-finish .w-steps-item-inner.is-icon .w-steps-icon {
  color: #108ee9;
}
.w-steps .w-steps-item-process [class^="w-icon-"],
.w-steps .w-steps-item-finish [class^="w-icon-"],
.w-steps .w-steps-item-process [class*=" w-icon-"],
.w-steps .w-steps-item-finish [class*=" w-icon-"] {
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.w-steps .w-steps-item-finish .w-steps-item-tail i:after {
  background-color: #2d8cf0;
  width: 100%;
}
.w-steps .w-steps-item-process .w-steps-item-title,
.w-steps .w-steps-item-process .w-steps-item-description {
  color: rgba(0, 0, 0, 0.65);
}
.w-steps .w-steps-item-error .w-steps-item-inner {
  color: #f04134;
  border-color: #f04134;
  background-color: #fff;
}
.w-steps .w-steps-item-error .w-steps-item-title,
.w-steps .w-steps-item-error .w-steps-item-description,
.w-steps .w-steps-item-error .w-steps-icon,
.w-steps .w-steps-item-error i[class^="w-icon-"] {
  color: #f04134;
}
.w-steps .w-steps-next-error .w-steps-item-tail i:after {
  background-color: #f04134;
  width: 100%;
  transition: all 0.6s;
}
.w-steps-custom .w-steps-item-inner.is-icon {
  background: none;
  border: 0;
  width: 26px;
  height: 26px;
  font-size: 26px;
}
.w-steps-dot .w-steps-item-main {
  display: block;
  text-align: center;
}
.w-steps-dot .w-steps-item-inner {
  margin: 0 auto;
  width: 7px;
  height: 7px;
  line-height: 5px;
  border: 0;
}
.w-steps-dot .w-steps-item-title {
  padding-top: 5px;
}
.w-steps-dot .w-steps-item-description {
  max-width: none;
  max-width: initial;
}
.w-steps-dot .w-steps-item-error .w-steps-item-tail i:after {
  background-color: #2d8cf0;
}
.w-steps-dot .w-steps-item-error .w-steps-item-inner {
  background: #f04134;
}
.w-steps-dot .w-steps-item-error .w-steps-item-tail {
  padding-right: 50%;
  background: #e9e9e9;
}
.w-steps-dot .w-steps-item-error .w-steps-item-tail i:after {
  background-color: #f04134;
  width: 100%;
}
.w-steps-dot .w-steps-item-finish.w-steps-next-error .w-steps-item-tail i:after {
  background-color: #2d8cf0;
}
.w-steps-dot .w-steps-item-wait .w-steps-item-inner {
  border-color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.25);
}
.w-steps-dot .w-steps-item-wait .w-steps-item-inner .w-steps-dot {
  background: rgba(0, 0, 0, 0.25);
}
.w-steps-dot .w-steps-item-process .w-steps-item-tail {
  padding-right: 50%;
  background: #e9e9e9;
}
.w-steps-dot .w-steps-item-process .w-steps-item-tail i:after {
  background-color: #2d8cf0;
  width: 100%;
}
.w-steps-dot .w-steps-item-tail {
  padding: 0;
  width: 100%;
  position: static;
  position: initial;
  height: 2px;
}
.w-steps-dot .w-steps-item:first-child .w-steps-item-tail {
  padding-left: 50%;
}
.w-steps-dot .w-steps-item:last-child .w-steps-item-tail {
  display: block;
  padding-right: 50%;
}
.w-steps-dot .w-steps-item-head:not(:first-child) {
  margin-left: 0;
  padding-left: 0;
  text-align: center;
  display: block;
}
.w-steps-dot .w-steps-item-head {
  background: transparent;
  margin-top: -4px;
}
.w-steps-dot.w-steps-vertical .w-steps-item:last-child .w-steps-item-tail {
  display: none;
}
.w-steps-dot.w-steps-vertical .w-steps-item .w-steps-item-tail {
  position: absolute;
  left: 3px;
  padding: 0 0 21px;
}
.w-steps-dot.w-steps-vertical .w-steps-item-inner {
  margin: 0;
}
.w-steps-dot.w-steps-vertical .w-steps-item-main {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 24px;
  margin-top: -21px;
}
.w-steps-dot.w-steps-vertical .w-steps-next-error .w-steps-item-tail i:after {
  background-color: #f04134;
}
.w-steps-dot.w-steps-vertical .w-steps-item-error .w-steps-item-tail {
  background-color: transparent;
}
.w-steps-dot.w-steps-vertical .w-steps-item-error .w-steps-item-tail i:after {
  background-color: transparent;
}
.w-steps-vertical > .w-steps-item {
  display: block;
}
.w-steps-vertical > .w-steps-item > .w-steps-item-tail {
  height: 100%;
  width: 1px;
  padding: 18px 0;
  left: 13px;
}
.w-steps-vertical .w-steps-item-main {
  padding-bottom: 12px;
  overflow: hidden;
}
.w-steps-vertical .w-steps-item .w-steps-item-main .w-steps-item-description {
  max-width: inherit;
}

.w-notify {
  position: relative;
  z-index: 9999;
}
.w-notify-warpper .w-notify .w-modal-inner .w-modal-header > .w-icon {
  font-size: 28px !important;
}
.w-notify-warpper .w-notify .w-modal-inner .w-modal-header > .w-btn {
  min-width: 18px;
  min-height: 18px;
  padding: 5px 5px;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-icon:not(.w-modal-shown-title) .w-modal-header > button {
  top: 12px;
  right: 10px;
  position: absolute;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-icon:not(.w-modal-shown-title) .w-modal-body {
  padding-right: 36px;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-title .w-modal-header {
  padding-top: 20px;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-title .w-modal-header > button {
  top: 5px;
  right: 5px;
  position: absolute;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-title .w-modal-header > h4 {
  padding-left: 40px;
  padding-right: 20px;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-title .w-modal-body {
  padding-left: 60px;
  opacity: 0.75;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-title:not(.w-modal-shown-icon) .w-modal-header > h4 {
  padding-left: 5px;
}
.w-notify-warpper .w-notify .w-modal-inner.w-modal-shown-title:not(.w-modal-shown-icon) .w-modal-body {
  padding-left: 25px;
}
.w-notify-warpper .w-notify .w-modal-inner:not(.w-modal-shown-title):not(.w-modal-shown-icon) .w-modal-body {
  padding: 16px;
}
.w-notify-warpper .w-notify .w-modal-inner:not(.w-modal-shown-title).w-modal-inner {
  padding-bottom: 0;
}
.w-notify-warpper .w-notify .w-modal-inner:not(.w-modal-shown-title).w-modal-inner .w-modal-header {
  padding-top: 16px;
}
.w-notify-warpper .w-notify .w-modal-inner:not(.w-modal-shown-title).w-modal-inner .w-modal-header > .w-icon {
  font-size: 20px !important;
}
.w-notify-warpper .w-notify .w-modal-inner:not(.w-modal-shown-title) .w-modal-body {
  padding: 16px 12px;
}
.w-notify-warpper .w-notify .w-overlay-content {
  margin: 5px;
}
.w-notify-warpper {
  position: fixed;
  padding: 5px;
  z-index: 999;
}
.w-notify-warpper.topLeft {
  top: 0;
  left: 0;
}
.w-notify-warpper.topRight {
  top: 0;
  right: 0;
}
.w-notify-warpper.bottomLeft {
  bottom: 0;
  left: 0;
}
.w-notify-warpper.bottomRight {
  bottom: 0;
  right: 0;
}

.w-row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}
.w-row.w-row-justify-flex-start {
  justify-content: flex-start;
}
.w-row.w-row-justify-flex-end {
  justify-content: flex-end;
}
.w-row.w-row-justify-center {
  justify-content: center;
}
.w-row.w-row-justify-space-between {
  justify-content: space-between;
}
.w-row.w-row-justify-space-around {
  justify-content: space-around;
}
.w-row.w-row-justify-space-evenly {
  justify-content: space-evenly;
}
.w-row-align-top {
  align-items: flex-start;
}
.w-row-align-middle {
  align-items: center;
}
.w-row-align-bottom {
  align-items: flex-end;
}
.w-row-align-baseline {
  align-items: baseline;
}

.w-col {
  min-width: 0;
  box-sizing: border-box;
  flex: 0 0 auto;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
.w-col-fixed {
  flex: 0 1 auto;
}
.w-col-align-top {
  align-self: flex-start;
}
.w-col-align-middle {
  align-self: center;
}
.w-col-align-bottom {
  align-self: flex-end;
}
.w-col-align-baseline {
  align-self: baseline;
}
.w-col-grow-1 {
  flex-grow: 1;
}
.w-col-grow-2 {
  flex-grow: 2;
}
.w-col-grow-3 {
  flex-grow: 3;
}
.w-col-grow-4 {
  flex-grow: 4;
}
.w-col-grow-5 {
  flex-grow: 5;
}
.w-col-grow-6 {
  flex-grow: 6;
}
.w-col-grow-7 {
  flex-grow: 7;
}
.w-col-grow-8 {
  flex-grow: 8;
}
.w-col-grow-9 {
  flex-grow: 9;
}
.w-col-grow-10 {
  flex-grow: 10;
}
.w-col-grow-11 {
  flex-grow: 11;
}
.w-col-1 {
  flex-basis: 4.16666667%;
  max-width: 4.16666667%;
}
.w-col-2 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}
.w-col-3 {
  flex-basis: 12.5%;
  max-width: 12.5%;
}
.w-col-4 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}
.w-col-5 {
  flex-basis: 20.83333333%;
  max-width: 20.83333333%;
}
.w-col-6 {
  flex-basis: 25%;
  max-width: 25%;
}
.w-col-7 {
  flex-basis: 29.16666667%;
  max-width: 29.16666667%;
}
.w-col-8 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}
.w-col-9 {
  flex-basis: 37.5%;
  max-width: 37.5%;
}
.w-col-10 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}
.w-col-11 {
  flex-basis: 45.83333333%;
  max-width: 45.83333333%;
}
.w-col-12 {
  flex-basis: 50%;
  max-width: 50%;
}
.w-col-13 {
  flex-basis: 54.16666667%;
  max-width: 54.16666667%;
}
.w-col-14 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}
.w-col-15 {
  flex-basis: 62.5%;
  max-width: 62.5%;
}
.w-col-16 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}
.w-col-17 {
  flex-basis: 70.83333333%;
  max-width: 70.83333333%;
}
.w-col-18 {
  flex-basis: 75%;
  max-width: 75%;
}
.w-col-19 {
  flex-basis: 79.16666667%;
  max-width: 79.16666667%;
}
.w-col-20 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}
.w-col-21 {
  flex-basis: 87.5%;
  max-width: 87.5%;
}
.w-col-22 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}
.w-col-23 {
  flex-basis: 95.83333333%;
  max-width: 95.83333333%;
}
.w-col-24 {
  flex-basis: 100%;
  max-width: 100%;
}

