@datepicker-prefix: ~"w-datepicker";

.@{datepicker-prefix} {
  &-caption {
    text-align: center;
    padding: 0 0 3px 0;
    border-bottom: 1px solid #ececec;
    &-year, &-month {
      transition: background-color .3s;
      display: inline-block;
      border-radius: 3px;
      padding: 1px 5px;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background-color: #EAEAEA;
      }
      &:active {
        background-color: #d2d2d2;
      }
    }
    &-year + &-month {
      margin-left: 5px;
    }
  }
}
