body {
  background-color: #fff;
  font-family: Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
}
body, html {
  min-height: 100%;
  position: relative;
}
body, html, ul, li {
  margin: 0;
  padding: 0;
}


a {
  color: #314659;
  text-decoration: none;
  transition: color .3s;
  &:hover {
    color: #1890ff;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

:global {
  #root {
    height: 100%;
  }
}
