@dateinput-prefix: ~"w-dateinput";

.@{dateinput-prefix} {
  display: inline-block;
  &-popover {
    box-shadow: 0 0 0 0;
  }
  &.disabled &-close-btn {
    display: none;
  }
  &-close-btn {
    display: flex;
    margin: 0 3px;
    color: #A5A5A5;
    cursor: pointer;
    &:hover {
      color: #393E48;
    }
  }
}