@timepicker-prefix: ~'w-timepicker';

.@{timepicker-prefix} {
  overflow: hidden;
  border-radius: 4px;
  &-input.disabled &-close-btn {
    display: none !important;
  }
  &-input &-close-btn {
    display: none;
    min-height: initial;
    color: #a5a5a5;
    &:hover {
      color: #393e48;
      background-color: transparent !important;
    }
  }
}
