
//== 颜色 Colors
//-----------------------
//## 对于颜色的全局使用

@gray-base :           #000;
@gray-darker :         lighten(@gray-base, 13.5%); // #222 增加一定数值的颜色亮度。
@gray-dark :           lighten(@gray-base, 20%)  ; // #333
@gray :                lighten(@gray-base, 33.5%); // #555
@gray-light :          lighten(@gray-base, 46.7%); // #777
@gray-lighter :        lighten(@gray-base, 93.5%); // #eee

@brand-primary :       darken(#5CA2F4, 6.5%); // #337ab7  默认首选
@brand-success :       #45BC01;     //成功
@brand-info :          #00b0ff;     //一般信息
@brand-warning :       #FFB12E;     //警告
@brand-danger :        #FF4A60;     //危险


@gray-light :          lighten(@gray-base, 46.7%); // #777
@gray-lighter :        lighten(@gray-base, 93.5%); // #eee


//== 组件 Components
//-----------------------
//## 定义普通填充和边框半径大小。基于部分文本 14px 和1.428 line-height（~ 20px开始）。

@padding-base-vertical :    6px;
@padding-base-horizontal :  12px;

@padding-large-vertical :   10px;
@padding-large-horizontal : 16px;

@padding-small-vertical :   5px;
@padding-small-horizontal : 10px;

@padding-xs-vertical :      1px;
@padding-xs-horizontal :    5px;

@line-height-large :        1.3333333; // extra decimals for Win 8.1 Chrome
@line-height-small :        1.5;

@border-radius-base :       4px;
@border-radius-large :      6px;
@border-radius-small :      3px;

//== 版式 Typography
//-----------------------
//## Font, line-height, headings

@font-family-sans-serif : "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif :      Georgia, "Times New Roman", Times, serif;
//** 默认字体 for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace :  Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base :       @font-family-sans-serif;

@font-size-base :         14px;
@font-size-large :        ceil(@font-size-base * 1.25); // ~18px
@font-size-small :        ceil(@font-size-base * 0.85); // ~12px


//**  `line-height` 在组件 buttons 中使用。
@line-height-base :       1.428571429; // 20/14
@line-height-computed :   10px; // ~20px
// @line-height-computed :   floor(@font-size-base * @line-height-base); // ~20px

// z-index 层级
@zindex-messages :         1010;
@zindex-modal :            1050;
@zindex-modal-mask :       -1;

// 弹出层阴影样式
@box-shadow-bg :            fade(@gray-base, 20%);
@box-shadow-x :             0px;
@box-shadow-y :             1px;
@box-shadow-blur :          1px;
@box-shadow-spread :        1px;


//== 按钮 Buttons
//-----------------------
//## 对于每个RUI的按钮，定义文本、 背景和边框的颜色。

@btn-font-weight :              300;

@btn-default-color :            #333;
@btn-default-bg :               #fff;
@btn-default-border :           #ccc;


@btn-default-color :            #333;
@btn-default-bg :               #fff;
@btn-default-border :           #ccc;

@btn-primary-color :            #fff;
@btn-primary-bg :               @brand-primary;
@btn-primary-border :           darken(@btn-primary-bg, 5%); // 降低一定数值的颜色亮度。

@btn-success-color :            #fff;
@btn-success-bg :               @brand-success;
@btn-success-border :           darken(@btn-success-bg, 5%);

@btn-info-color :               #fff;
@btn-info-bg :                  @brand-info;
@btn-info-border :              darken(@btn-info-bg, 5%);

@btn-warning-color :            #fff;
@btn-warning-bg :               @brand-warning;
@btn-warning-border :           darken(@btn-warning-bg, 5%);

@btn-danger-color :             #fff;
@btn-danger-bg :                @brand-danger;
@btn-danger-border :            darken(@btn-danger-bg, 5%);

@btn-link-disabled-color :      @gray-light;



@btn-loading-small :            @font-size-small; //12px

@btn-extra-small-top:           2px;

// 定义按钮的圆角大小
@btn-border-radius-base :       @border-radius-base;
@btn-border-radius-large :      @border-radius-large;
@btn-border-radius-small :      @border-radius-small;

// 鼠标禁止样式
@cursor-disabled :               not-allowed;

// 动画属性
@transition-time :               .2s;
@transition-timing-functio :     ease-in;

//== Alerts 状态 states  定义颜色

// **默认状态颜色
@state-default-text :           rgba(0,0,0,.85);
@state-default-bg :             #fff;
@state-default-border :         darken(spin(@state-default-bg, 0), 15%);

// **默认状态颜色
@state-primary-text :           #5CA2F4;
@state-primary-bg :             #e8f6ff;
@state-primary-border :         darken(spin(@state-primary-bg, 0), 0%);

// **成功状态颜色
@state-success-text :           #3c763d;
@state-success-bg :             #dff0d8;
@state-success-border :         darken(spin(@state-success-bg, 0), 0%);

// **消息状态颜色
@state-info-text :              #5CA2F4;
@state-info-bg :                #d9edf7;
@state-info-border :            darken(spin(@state-info-bg, 0), 0%);

// **警告状态颜色
@state-warn-text :              #8a6d3b;
@state-warn-bg :                #ffe697;
@state-warn-border :            darken(spin(@state-warn-bg, 0), 0%);

// **危险状态颜色
@state-error-text :             #a94442;
@state-error-bg :               #f2dede;
@state-error-border :           darken(spin(@state-error-bg, 0), 0%);

// === Alert 警告框 =======
@alert-padding :             10px;
@alert-border-raduis: @border-radius-base;

@alert-default-bg :          @state-default-bg;
@alert-default-text :        @state-default-text;
@alert-default-border :      @state-default-border;

@alert-primary-bg :          @state-primary-bg;
@alert-primary-text :        @state-primary-text;
@alert-primary-border :      @state-primary-border;

@alert-success-bg :          @state-success-bg;
@alert-success-text :        @state-success-text;
@alert-success-border :      @state-success-border;

@alert-info-bg :             @state-info-bg;
@alert-info-text :           @state-info-text;
@alert-info-border :         @state-info-border;

@alert-warn-bg :             @state-warn-bg;
@alert-warn-text :           @state-warn-text;
@alert-warn-border :         @state-warn-border;

@alert-error-bg :            @state-error-bg;
@alert-error-text :          @state-error-text;
@alert-error-border :        @state-error-border;

//== 关闭图标 =======
@close-icon-size:           11px;
@close-icon-color:          @state-default-text;
@close-icon-top:            @close-icon-size;
@close-icon-right:          @close-icon-size;

//== 弹出层 模态框 modal =======
@modal-title-font-weight:    @btn-font-weight+100;
@modal-title-line-height:    21px;
@modal-inner-padding :       10px;
@modal-button-left :         @modal-inner-padding;
@modal-title-padding :       @modal-inner-padding;
@modal-body-padding:         @modal-inner-padding;     
@modal-content-top:          @modal-inner-padding;     

@modal-content-bg :                    #fff;
@modal-content-margin-bottom :         @line-height-computed;
@modal-mask-bg :                       fade(@gray-base, 30%);
@modal-header-border-color:            #e5e5e5;
@modal-footer-border-color:            @modal-header-border-color;

@modal-confirm-content-padding:        20px;
@modal-confirm-body-margin-left:       40px;

//== Tags =======
@tags-white-color:            #7f7f7f;
@tags-white-bg:               #f6f6f6;
@tags-pink-bg:                #f5317f;
@tags-red-bg:                 #f04134;
@tags-yellow-bg:              #E0C100;
@tags-orange-bg:              #F56A04;
@tags-green-bg:               #00a854;
@tags-cyan-bg:                #00a2ae;
@tags-blue-bg:                #108ee9;
@tags-purple-bg:              #7265e6;

@tags-padding-horizontal:     5px;
@tags-padding-top-white:      1px;
@tags-padding-top:            2px;
@tags-padding-left:           @tags-padding-horizontal;
@tags-padding-right:          2px;
@tags-padding-bottom:         3px;
@tags-white-border-color:     #d2d2d2;

//== 加载效果 =======

@loading-horizontal:         20px;
@loading-horizontal-large:   32px;
@loading-horizontal-small:   14px;
@loading-blur:               .5px;
@loading-blur-opacity:       .7;

@loading-icon-margin-bottom: 5px;



//== GitHub活跃看板 ======
@calendar-heatmap-fill-text:        #959494;
@calendar-heatmap-fill:             #196127;
@calendar-heatmap-stroke-bg:        rgba(0, 0, 0, 0.34);
@calendar-heatmap-stroke-width:     1px;


//== Tables ======

@table-tr-height:                 38px;
@table-font-weight:               @btn-font-weight+100;
@table-th-color:                  #616161;
@table-td-color:                  #fff;
@table-th-bg-color:               #f7f7f7;
@table-border-color:              #e9e9e9;
@table-tr-bg-active-color:        #fafafa;
@table-caption-padding:           8px;
@table-border-radius:             5px;

// 3px 0 10px -4px rgba(0, 0, 0, 0.2);

@table-shadow-bg :            fade(@gray-base, 20%);
@table-shadow-x :             3px;
@table-shadow-y :             0;
@table-shadow-blur :          10px;
@table-shadow-spread :        -4px;


//== Checkboxs ====

@checkbox-size:                    @font-size-base;
@checkbox-bg-base:                 #58C373;
@checkbox-border-gray-light:       #c9c9c9;
@checkbox-transform-rotate:        33deg;
@checkbox-border-radius:           3px;
@checkbox-after-radius:            2px;
@checkbox-label-padding-left:      3px;
@checkbox-label-padding-right:     8px;
@checkbox-indeterminate-size:      8px;
@checkbox-default-bg-color:        #fff;
@checkbox-disabled-color:          rgba(0,0,0,.3);