@import "./code.less";
body::selection {
    background: #0fa120;
    color: #fff;
}
#app{
  min-height: 100%;
  height: 100%;
}

.w-docs{
  height: 100%;
  display: flex;
  flex-direction: row;
}
.w-docs-menu-warpper{
  height: 100%;
  width: 220px;
  font-weight: 300;
  background-color: #0FA120;
  float: left;
  overflow: auto;
  box-shadow: 1px 0 2px 0px rgba(0, 0, 0, 0.15), inset -1px 0 0 0 rgba(0, 0, 0, 0.11);
  .w-docs-menu-content{
    padding: 20px 0 30px 0;
  }
  a{
    color:#fff;
    display: block;
    padding: 6px 24px 6px 20px;
    font-size: 14px;
    transition: background-color .7s ease;
    &:active{
      text-decoration: none;
    }
    &:hover,&.active{
      background-color: rgba(0, 0, 0, 0.12);
      text-decoration: none;
    }
    &:hover{
      background-color: rgb(0, 148, 17);
    }
  }
}


.w-docs-menu-title{
  padding: 10px 0 12px 20px;
  color: #033509;
  font-size: 14px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.26)
}
.w-docs-menu-item{
  a{
    text-shadow: 0 1px rgba(0, 0, 0, 0.31);
  }
}

.w-docs-content{
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  color: #333;
}

.w-docs-content-warpper{
  padding: 20px;
  color: rgba(0,0,0,.65);
  h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    color: #353535;
  }
  h3{
    margin: 20px 0 5px 0;
  }
  h2{
    margin: 35px 0 0 0;
  }
  h2:first-child {
    margin: 0 0 0 0;

  }
  code{
    color:#a71d5d;
    font-weight: bold;
    padding:0 3px;
  }
  pre > code{
    font-weight: 300;
    color:#353535;
    padding: 0;
    display: inline-block;
  }
  p{
    padding: 5px 0 5px 0;
  }
  &> table,.w-docs-demo-des > table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    th{
      background: #f6f6f6;
    }
    td,th{
      border:1px solid #e9e9e9;
      padding: 8px 12px;
    }
  }
}
// demo
.w-docs-demo-warpper{
  border:1px solid #d5d5d5;
  border-radius: 4px;
  margin-top: 10px;
  .w-docs-demo-source{
    padding: 20px;
  }
  .w-docs-demo-meta{
    overflow: hidden;
  }
  .w-docs-demo-des{
    padding: 5px 10px;
    p{
      margin: 0 0 0 0;
    }
  }
  .w-docs-demo-highlight{
    background-color: #efefef;
    padding: 0;
    overflow: auto;
  }
  .w-docs-demo-control{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid #d5d5d5;
    span{
      padding: 5px 10px;
      display: inline-block;
    }
  }
}