body {
  background-color: #fff;
  font-family: Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #f0f2f5;
}

a {
  color: #314659;
  text-decoration: none;
  transition: color 0.3s;
  &:hover {
    color: #1890ff;
  }
}

:global {
  #root {
    height: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color-scheme: dark;

    --color-fg-default: #c9d1d9;
    --color-canvas-default: #0d1117;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color-scheme: light;
    --color-fg-default: #24292f;
    --color-canvas-default: #ffffff;
  }
}

[data-color-mode*='dark'],
[data-color-mode*='dark'] body {
  color-scheme: dark;
  --color-fg-default: #c9d1d9;
  --color-canvas-default: #0d1117;
}

[data-color-mode*='light'],
[data-color-mode*='light'] body {
  color-scheme: light;
  --color-fg-default: #24292f;
  --color-canvas-default: #ffffff;
}

main {
  background-color: var(--color-canvas-default);
  color: var(--color-fg-default);
}

main a {
  color: var(--color-fg-default);
}
