.w-descriptions table tr {
  border-top: none;
}

.w-descriptions table td,
.w-descriptions table th {
  border: none;
  padding: none;
}

.w-rcpl-code.w-display {
  padding: 0;
}

.w-rcpl-preview {
  white-space: normal;
}

.wmde-markdown .w-rcpl-preview ul.w-menu,
.wmde-markdown .w-rcpl-preview ol.w-menu {
  padding-left: 5px;
}
