@import "../../style/variables.less";
@import "../../style/mixins/index.less";

.w-alert{
    position: relative;
    padding: @alert-padding;
    margin-bottom: @line-height-computed;
    border: 1px solid transparent;
    border-radius: @alert-border-raduis;
    // border-radius: @alert-border-raduis;
    .w-alert-message + .w-alert-description{
        // font-size: 18px;
    }
    .w-alert-message + .w-alert-close-icon{
        font-size: 12px;
    }
    .w-alert-message:first-child:not(:last-child){
        font-size:18px;
        display: block;
    }
    > .w-alert-close-icon{
        width: @close-icon-size;
        height: @close-icon-size;
        top: @close-icon-top;
        right: @close-icon-right;
        .w-close-icon(@close-icon-color);
    }
}

.w-alert-default{
    .alert-variant(@alert-default-bg, @alert-default-border, @alert-default-text)
}

.w-alert-primary{
    .alert-variant(@alert-primary-bg, @alert-primary-border, @alert-primary-text)
}
   

.w-alert-success{
    .alert-variant(@alert-success-bg, @alert-success-border, @alert-success-text)
}
    
.w-alert-warn{
    .alert-variant(@alert-warn-bg, @alert-warn-border, @alert-warn-text)
}
 
.w-alert-info{
    .alert-variant(@alert-info-bg, @alert-info-border, @alert-info-text)   
}
    
.w-alert-error{
    .alert-variant(@alert-error-bg, @alert-error-border, @alert-error-text)
}
