.w-code-layout {
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  background-color: #fff;
}

.w-code-layout.w-code-layout-body-false {
  border: none;
}
.w-code-layout .preview {
  padding: 16px;
}

.w-code-layout .preview-body-false {
  padding-left: 0px;
}

.w-code-layout .preview-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  padding: 10px 0px;
}

.w-code-layout .preview-button .preview-button-span {
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  cursor: pointer;
}

.w-code-layout .preview-button .preview-button-copy > .copy {
  display: inline-block;
}
.w-code-layout .preview-button .preview-button-copy > .check {
  display: none;
}

.w-code-layout .preview-button .preview-button-copy-active > .copy {
  display: none;
}

.w-code-layout .preview-button .preview-button-copy-active > .check {
  display: inline-block;
}
.w-code-layout .preview-button .preview-button-span:hover {
  opacity: 1;
}

.w-code-layout .preview-button .preview-code-exand-unexpand-icon-true {
  display: inline-block;
}

.w-code-layout .preview-button .preview-code-exand-unexpand-icon-false {
  display: none;
}

.w-code-layout .preview-code.preview-code-false {
  display: none;
}

.w-code-layout .preview-code {
  background-color: #f6f8fa;
}
.w-code-layout .preview-code > pre {
  margin: 0;
}
