@w-calendar:~"w-calendar";

.@{w-calendar} {
  table th {
    line-height: 32px;
  }
  table td {
    line-height: 28px;
    text-align: right;
    position: relative;
    padding: 0 10px;
  }
  .w-datepicker-inner {
    width: 100%;
    position: absolute;
    height: 90px;
    overflow-y: auto;
  }
  .w-datepicker-marked {
    line-height: 18px;
    height: 90px;
    overflow-y: auto;
    position: relative;
    width: auto;
    left: auto;
    bottom: auto;
    text-align: left;
  }
  .w-datepicker-disable {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #00000008;
    }
  }
}
