@import "../../style/variables.less";
@import "../../style/mixins/index.less";

.w-heatmap{
  user-select: none;
  rect{
    cursor: pointer;
    transition: all .3s ease-in;
  }
  rect:hover {
    stroke: @calendar-heatmap-stroke-bg;
    stroke-width: @calendar-heatmap-stroke-width;
  }
  rect:active {
    fill:@calendar-heatmap-fill;
  }
  .w-heatmap-week,.w-heatmap-month{
    text {
      font-size: @font-size-small;
      fill: @calendar-heatmap-fill-text;
      text-anchor: middle;
    }
  }

}


.w-heatmap-popup{
  .w-tooltip-children{
    width: 12px;
    height: 12px;
    overflow: hidden;
    background-color: #333; 
  }
}