.w-heatmap{
  user-select: none;
  overflow: hidden;
  rect{
    cursor: pointer;
  }
  rect:hover {
    stroke: #616161;
    stroke-width: 1px;
  }
  rect:active {
    stroke:#196127;
    fill:#196127;
  }
  .w-heatmap-week{
    text {
      font-size: 12px;
      fill: #959494;
      text-anchor: middle;
    }
  }
}